@model REDZONE.Models.RZTaskDetailList
@{
    int taskCounter = 0;
    
}
<style>
    /*.taskItem:nth-child(even) {
       background-color: #eeeeee;
    }*/
    /*.taskItem {
        color:green;
    }*/
    .taskItem:hover {
        background-color:#a3544e !important; 
        color: white !important;
    }

    #btnShowAllTasks:hover {
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        font-weight:bold;
    }
    /*.btnShowAllTasks:hover {
        background-color:#0d33ff !important;
    }*/
</style>

<table class="table table-condensed" style="width:100%">
    @foreach (REDZONE.Models.RZActionPlanTask apReviewTask in Model.apReviewTaskList)
    {
        if (taskCounter < 10)
        {
            <tr class="taskItem" style="text-align:left; color:black;">
                <td style="min-width:350px; ">
                    <div style="margin:0; padding:0;">
                        <img src="~/Images/icon_Warning.png" />
                        <span style="min-width: 150px; color:#fd6868; ">[@apReviewTask.status]</span>
                        <span>@apReviewTask.bldg_name @apReviewTask.mtrc_prod_display_text</span>
                    </div>
                    <div style="margin:0; padding:0;">
                        <span style="margin-left:10px">For: @apReviewTask.period_name</span>
                    </div>
                </td>
            </tr>
        }
        taskCounter++;
    }
    @foreach (REDZONE.Models.RZActionPlanTask apSubmitTask in Model.apSubmitTaskList)
    {
        if (taskCounter < 10)
        {
            <tr class="taskItem" style="text-align:left">
                <td style="min-width:300px">
                    <div style="margin:0; padding:0;">
                        <img src="~/Images/icon_Warning.png" />
                        <span style="min-width: 150px; color:#fd6868; ">[@apSubmitTask.status]</span>
                        <span>@apSubmitTask.bldg_name @apSubmitTask.mtrc_prod_display_text</span>
                    </div>
                    <div style="margin:0; padding:0;">
                        <span style="margin-left:20px">For: @apSubmitTask.period_name</span>
                    </div>
                </td>
            </tr>
        }
        taskCounter++;
    }
    @foreach (REDZONE.Models.RZMetricTask apReviewTask in Model.mtrcTaskList)
    {
        if (taskCounter < 10)
        {
            <tr class="taskItem" style="text-align:left">
                <td style="min-width:300px">
                    <div style="margin:0; padding:0;">
                        <img src="~/Images/icon_Warning.png" />
                        <span style="min-width: 150px; color:#fd6868;">[@apReviewTask.status]</span>
                        <span>@apReviewTask.mtrc_prod_display_text</span>
                    </div>
                    <div style="margin:0; padding:0;">
                        <span style="margin-left:20px">For: @apReviewTask.period_name</span>
                    </div>
                </td>
            </tr>
        }
        taskCounter++;
    }
    
    @if (Model.apReviewTaskList.Count() + Model.apSubmitTaskList.Count() + Model.mtrcTaskList.Count() > 10) { 
      <tr >
          <td>
              <button class="btn-primary bg-Primary-Gradient" id="btnShowAllTasks" style="width:100%">SHOW ALL TASKS ...</button>              
          </td>
      </tr>
    }

</table>

<script>
    $(document).ready(function () {
        $('.taskItem').click(function () {
            alert("Item Clicked.");
            //href="/ActionPlan/viewEdit/?mp_id=2&bldg_id=8&bapm_id=387"
        });

        $('#btnShowAllTasks').click(function () {
            alert("Showing All Task is not Implemented yet");
        });

    });
</script>