@model REDZONE.Models.QuickActionPlan

@{
string uId = Session["emp_id"].ToString();
}

<style>
    .headerCell {
        border: 1px solid black;
        padding: 5px;
    }
</style>

<div id="globalVariables">
    <input type="hidden" id="userId" value="@uId" />
    <input type="hidden" id="apDetailId" value="@Model.apd_id" />
    <input type="hidden" id="hdnWipBapmId" value="@Model.bapm_id" />
</div>

@if (ViewBag.authorized)
{
    if (Model.apd_id != null)
    {
        <div class="row">
            <span style="font-weight:bold; font-size:20px" id="metricName">@Model.mtrcDisplayText</span>&nbsp;-&nbsp;
            <span style="font-weight:bold; font-size:20px" color black" id="buildingName">@Model.bldgName</span>&nbsp;-&nbsp;
            <span style="font-weight:bold; font-size:20px" color black" id="metricDate">@Model.monthName @Model.year</span>
            <input type="hidden" id="bapmId" value="@Model.bapm_id" />
        </div>

        <div style="margin-left:10px; margin-right:10px">
            <h4 style="text-align:left">Reason Summary</h4>
            <div class="bordered" style="border-radius:4px; border-color:grey">
                <div class="row" style="margin-left:10px; margin-right:10px">
                    <div class="col-md-6" style="margin:0 auto; text-align:center; margin-bottom:8px; margin-top:5px">
                        <!-- Metric Period Header Information  -->
                        <div class="row" style="margin:0; font-weight:bold">
                            <div class="col-md-4 headerCell" style="background-color:#f0eaea">Metric</div>
                            <div class="col-md-4 headerCell" style="background-color:#bbedff">Goal</div>
                            <div class="col-md-4 headerCell" style="background-color:#f0eaea"><span id="metricDate1">@Model.monthName</span></div>
                        </div>
                        <div class="row" style="margin:0">
                            <div class="col-md-4 headerCell" style="background-color:#f0eaea"><span class="mNameCell">@Model.mtrcDisplayText</span></div>
                            <div class="col-md-4 headerCell" style="background-color:#bbedff; color:blue; font-weight:bold;"><span id="mGoalCell">@Model.mtrcGoalText</span></div>
                            <div class="col-md-4 headerCell" id="mValueCell" style="font-weight:normal; background-color:red">@Model.mtrcValue</div>
                        </div>
                    </div> <!-- END OF HEADER INFORMATION-->

                    <div class="col-md-6">
                        <div style="padding:10px; padding-bottom:0px; text-align:left">
                            <ul style="text-align:center">
                                @if (Model.reasonList.Count() > 0)
                                {
                                    foreach (var reason in Model.reasonList)
                                    {
                                        <li title="@reason.mpvr_Comment" style="text-align:left">@reason.reason_text</li>
                                    }
                                }
                                else
                                {
                                    <li>There are no reasons to display.</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />

        <div style="margin-left:10px; margin-right:10px">
            <div class="row">
                <div class="col-md-6"><h4 style="text-align:left">Action Plan</h4></div>
                <div class="col-md-6" style="text-align:right">
                    @{string apUrl = "/ActionPlan/viewEdit/?mp_id=" + Model.mtrc_period_id + "&bldg_id=" + Model.dsc_mtrc_lc_bldg_id + "&bapm_id=" + Model.bapm_id;}
                    <a href="@apUrl">Go to Action Plan Page</a>
                </div>
            </div>
            <div class="bordered" style="padding:15px; text-align:left; vertical-align:text-bottom; border-radius:4px; border-color:grey;">@Model.apText</div>
        </div>
        <br />

        <div style="margin-left:10px; margin-right:10px">
            <h4 style="text-align:left">Comments</h4>
            <textarea id="quickReviewComment" style="padding:15px; text-align:left; border-radius:4px; min-width:100%; min-height:100px; border-color:grey" maxlength="2000">@Model.apReviewText</textarea>
        </div>
        <br />


    }
    else
    {
        <span style="color:red; ">There is no action plan to display.</span>
    }
}
else
{
    <span style="color:red; ">You do not have access to view this action plan.</span>
}

