@model REDZONE.Models.RZTasksViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string apTaskDisplay = "";
    string mtrcTaskDisplay = "";
    string apTaskGlyph = "glyphicon-chevron-right";
    string mtrcTaskGlyph = "glyphicon-chevron-right";

    if (ViewBag.display == "ap")
    {
        apTaskDisplay = "in";
        apTaskGlyph = "glyphicon-chevron-down";
    }
    else if(ViewBag.display == "mtrc")
    {
        mtrcTaskDisplay = "in";
        mtrcTaskGlyph = "glyphicon-chevron-down";
    }
    else
    {
        apTaskDisplay = "in";
        apTaskGlyph = "glyphicon-chevron-down";
        mtrcTaskDisplay = "in";
        mtrcTaskGlyph = "glyphicon-chevron-down";
    }
}

<style>
    .overdue {
        color:red;
        font-weight:bold;
    }
</style>
<script src="~/Scripts/Tasks_index.js"></script>

<div class="panel panel-default" style="font-family:Arial; max-width:1000px; margin:0 auto; margin-top:5px">
    <div class="panel-heading" style="text-align:center; padding: 0px 15px; ">
        <div class="row ">
            <span style="font-size:x-large; font-weight:bold; color:darkblue">My Red Zone Tasks</span>
        </div>
        <input type="hidden" id="hdnDisplay" value="@ViewBag.display"/>
    </div>

    <div class="panel-body padding2 " style="display:none">
        @*****************@
        @*SUBMITTER TASKS*@
        @*****************@
        @*<div class="row" id="divSubmitterTasks" style="margin-left:5px; margin-right:5px">
            @if (Model.apSubmitTaskList.Count() > 0)
            {
                <div class="btn-toolbar" style="margin-top:5px; display:none">
                    <div class="bordered" style="display:table-cell; border-top-left-radius:4px; border-bottom-left-radius:4px; border-width:.143em; border-color:black; border-right:2px solid gray">
                        <button type="button" class="btn btn-default btn-group" style="margin-left:0px; border-top-right-radius:0px; border-bottom-right-radius:0px; border-color: transparent">
                            <span class="glyphicon @apTaskGlyph"></span>
                        </button>
                    </div>
                    <div class="bordered" style="display:table-cell; width:100%; vertical-align:middle; border-width:.143em; border-color:black; border-left:transparent; border-top-right-radius:4px; border-bottom-right-radius:4px; background-color:#f7f7f7;">
                        <h4 class="btn-group" style="text-align:left; margin:auto; margin-left:10px; font-weight:bold ">
                            Action Plan Tasks 
                            <span style="color:red">(@Model.apSubmitTaskList.SelectMany(x => x.periodList).SelectMany(x => x.mtrcList).Count())</span>
                        </h4>
                    </div>
                </div>

                <div class="collapse @apTaskDisplay" style="margin-left:42px; display:none">
                    @foreach (var bldg in Model.apSubmitTaskList)
                    {
                        <div class="btn-toolbar" style="margin-top:5px">
                            <div class="bordered" style="display:table-cell; border-top-left-radius:4px; border-bottom-left-radius:4px; border-color:grey; border-right:transparent">
                                <button type="button" class="btn btn-default btn-group" style="margin-left:0px; border-color:transparent; border-top-right-radius:0px; border-bottom-right-radius:0px">
                                    <span class="glyphicon @apTaskGlyph"></span>
                                </button>
                            </div>
                            <div class="bordered" style="display:table-cell; width:100%; vertical-align:middle; border-top-right-radius:4px; border-bottom-right-radius:4px; border-color:grey">
                                <h4 class="btn-group" style="text-align:left; margin:auto; margin-left:10px ">
                                    @{string url = "/Home/BuildingSummary/?year=" + bldg.periodList.First().mtrcList.First().year + "&bldg_id=" + bldg.periodList.First().mtrcList.First().bldg_id ;}
                                    <a href="@url">@bldg.bldgName</a>
                                </h4>
                            </div>
                        </div>

                        <div class="collapse @apTaskDisplay" style="margin-left:42px">
                            @foreach (var period in bldg.periodList)
                            {
                                <div class="btn-toolbar" style="margin-top:5px">
                                    <div class="bordered" style="display:table-cell; border-top-left-radius:4px; border-bottom-left-radius:4px; border-color:transparent; border-right:transparent">
                                        <button type="button" class="btn btn-default btn-group" style="margin-left:0px; border-color:transparent; border-top-right-radius:0px; border-bottom-right-radius:0px">
                                            <span class="glyphicon @apTaskGlyph"></span>
                                        </button>
                                    </div>
                                    <div class="bordered" style="display:table-cell; width:100%; vertical-align:middle; border-color:transparent; border-bottom-color:lightgray">
                                        <h5 class="btn-group" style="text-align:left; margin:auto; margin-left:10px ">@period.periodName</h5>
                                    </div>
                                </div>

                                <div class="collapse @apTaskDisplay" style="margin-left:40px">
                                    <table class="table table-condensed table-hover" id="tblAPTasks" style="margin-top:5px">
                                        <tr style="background-color:lightgray">
                                            <th style="text-align:center; width:25%">
                                                @Html.DisplayNameFor(model => model.apSubmitTaskList.First().periodList.First().mtrcList.First().mtrc_prod_display_text)
                                            </th>
                                            <th style="text-align:center; width:25%">
                                                @Html.DisplayNameFor(model => model.apSubmitTaskList.First().periodList.First().mtrcList.First().status)
                                            </th>
                                            <th style="text-align:center; width:25%">
                                                Action
                                            </th>
                                            <th style="text-align:center; width:25%">
                                                Due By
                                            </th>
                                        </tr>

                                        @foreach (var mtrc in period.mtrcList)
                                        {
                                            string backgroundColor = (mtrc.status == "Rejected") ? "#ffbb8b" : "white";
                                            <tr style="background-color:@backgroundColor">
                                                <td style="text-align:center; width:25%">
                                                    @Html.DisplayFor(modelItem => mtrc.mtrc_prod_display_text)
                                                </td>
                                                <td style="text-align:center; width:25%">
                                                    @Html.DisplayFor(modelItem => mtrc.status)
                                                </td>
                                                <td style="text-align:center; width:25%">
                                                    @{string apUrl = "/ActionPlan/viewEdit/?mp_id=" + mtrc.mtrc_period_id + "&bldg_id=" + mtrc.bldg_id + "&bapm_id=" + mtrc.rz_bapm_id;}
                                                    <a href="@apUrl" style="color:red">@mtrc.action</a>
                                                </td>
                                                <td style="text-align:center; width:25%">
                                                    TBD
                                                </td>
                                            </tr>
                                        }
                                    </table>

                                </div>
                            }


                        </div>
                    }
                </div>
            }
        </div>*@
        @****************@
        @*REVIEWER TASKS*@
        @****************@
        @*<div class="row" id="divReviewerTasks" style="margin-left:5px; margin-right:5px">
            @if (Model.apReviewTaskList.Count() > 0)
            {
                <div class="btn-toolbar" style="margin-top:5px">
                    <div class="bordered" style="display:table-cell; border-top-left-radius:4px; border-bottom-left-radius:4px; border-width:.143em; border-color:black; border-right:2px solid gray">
                        <button type="button" class="btn btn-default btn-group" style="margin-left:0px; border-color:transparent; border-top-right-radius:0px; border-bottom-right-radius:0px">
                            <span class="glyphicon @apTaskGlyph"></span>
                        </button>
                    </div>
                    <div class="bordered" style="display:table-cell; width:100%; vertical-align:middle; border-width:.143em; border-color:black; border-left:transparent; border-top-right-radius:4px; border-bottom-right-radius:4px; background-color:#f7f7f7;">
                        <h4 class="btn-group" style="text-align:left; margin:auto; margin-left:10px ">Action Plan Review Tasks</h4>
                    </div>
                </div>

                <div class="collapse @apTaskDisplay" style="margin-left:42px;">
                    @foreach (var mtrc in Model.apReviewTaskList)
                    {
                        <div class="btn-toolbar" style="margin-top:5px">
                            <div class="bordered" style="display:table-cell; border-top-left-radius:4px; border-bottom-left-radius:4px; border-color:transparent; border-right:transparent">
                                <button type="button" class="btn btn-default btn-group" style="margin-left:0px; border-color:transparent; border-top-right-radius:0px; border-bottom-right-radius:0px">
                                    <span class="glyphicon @apTaskGlyph"></span>
                                </button>
                            </div>
                            <div class="bordered" style="display:table-cell; width:100%; vertical-align:middle; border-color:transparent; border-bottom-color:lightgray">
                                <h4 class="btn-group" style="text-align:left; margin:auto; margin-left:10px ">@mtrc.mtrc_prod_display_text</h4>
                            </div>
                        </div>

                        <div class="collapse @apTaskDisplay" style="margin-left:42px">
                            @foreach (var period in mtrc.periodList)
                            {
                                <div class="btn-toolbar" style="margin-top:5px">
                                    <div class="bordered" style="display:table-cell; border-top-left-radius:4px; border-bottom-left-radius:4px; border-color:transparent; border-right:transparent">
                                        <button type="button" class="btn btn-default btn-group" style="margin-left:0px; border-color:transparent; border-top-right-radius:0px; border-bottom-right-radius:0px">
                                            <span class="glyphicon @apTaskGlyph"></span>
                                        </button>
                                    </div>
                                    <div class="bordered" style="display:table-cell; width:100%; vertical-align:middle; border-color:transparent; border-bottom-color:lightgray">
                                        <h5 class="btn-group" style="text-align:left; margin:auto; margin-left:10px ">@period.periodName</h5>
                                    </div>
                                </div>

                                <div class="collapse @apTaskDisplay" style="margin-left:40px">
                                    <table class="table table-condensed table-hover" id="tblAPTasks" style="margin-top:5px">
                                        <tr style="background-color:lightgray">
                                            <th style="text-align:center; width:25%">
                                                @Html.DisplayNameFor(model => model.apReviewTaskList.First().periodList.First().bldgList.First().bldgName)
                                            </th>
                                            <th style="text-align:center; width:25%">
                                                @Html.DisplayNameFor(model => model.apReviewTaskList.First().periodList.First().bldgList.First().status)
                                            </th>
                                            <th style="text-align:center; width:25%">
                                                Action
                                            </th>
                                            <th style="text-align:center; width:25%">
                                                Due By
                                            </th>
                                        </tr>

                                        @foreach (var bldg in period.bldgList)
                                        {
                                            string dueMonth = new DateTime(Int32.Parse(bldg.year), Int32.Parse(bldg.month), 18).AddMonths(1).Month.ToString();
                                            string dueYear = new DateTime(Int32.Parse(bldg.year), Int32.Parse(bldg.month), 18).AddMonths(1).Year.ToString();
                                            string overdueClass = (new DateTime(Int32.Parse(dueYear), Int32.Parse(dueMonth), 18) < DateTime.Today) ? "overdue" : "";
                                            <tr>
                                                <td style="text-align:center; width:25%">
                                                    @Html.DisplayFor(modelItem => bldg.bldgName)
                                                </td>
                                                <td class="cellAPStatus" style="text-align:center; width:25%">
                                                    @Html.DisplayFor(modelItem => bldg.status)
                                                </td>
                                                <td class="cellQuickReview" style="text-align:center; width:25%">
                                                    @{string apUrl = "/ActionPlan/viewEdit/?mp_id=" + bldg.mtrc_period_id + "&bldg_id=" + bldg.bldg_id + "&bapm_id=" + bldg.rz_bapm_id;}
                                                    <input type="hidden" class="hdnBapmId" id="hdnBapmId" value="@bldg.rz_bapm_id" />
                                                    <a class="lnkQuickReview" href="#" onclick="return false; ">Quick Review</a>
                                                </td>
                                                <td style="text-align:center; width:25%">
                                                    TBD
                                                </td>
                                            </tr>
                                        }
                                    </table>

                                </div>
                            }
                        </div>
                    }
                </div>
            }
        </div>*@
        @************************@
        @*METRIC COLLECTOR TASKS*@
        @************************@
        @*<div class="row" id="divCollectorTasks" style="margin-left:5px; margin-right:5px">
            @if (Model.mtrcTaskList.Count() > 0)
            {
                <div class="btn-toolbar" style="margin-top:5px">
                    <div class="bordered" style="display:table-cell; border-top-left-radius:4px; border-bottom-left-radius:4px; border-width:.143em; border-color:black; border-right:2px solid gray ">
                        <button type="button" class="btn btn-default btn-group" style="margin-left:0px; border-color:transparent; border-top-right-radius:0px; border-bottom-right-radius:0px">
                            <span class="glyphicon @mtrcTaskGlyph"></span>
                        </button>
                    </div>
                    <div class="bordered" style="display:table-cell; width:100%; vertical-align:middle; border-width:.143em; border-color:black; border-left:transparent; border-top-right-radius:4px; border-bottom-right-radius:4px; background-color:#f7f7f7;">
                        <h4 class="btn-group" style="text-align:left; margin:auto; margin-left:10px ">Metric Collector Tasks</h4>
                    </div>
                </div>

                <div class="collapse @mtrcTaskDisplay" style="margin-left:42px">
                    @foreach (var period in Model.mtrcTaskList)
                    {
                        <div class="btn-toolbar" style="margin-top:5px">
                            <div class="bordered" style="display:table-cell; border-top-left-radius:4px; border-bottom-left-radius:4px; border-color:transparent; border-right:transparent">
                                <button type="button" class="btn btn-default btn-group" style="margin-left:0px; border-color:transparent; border-top-right-radius:0px; border-bottom-right-radius:0px">
                                    <span class="glyphicon @mtrcTaskGlyph"></span>
                                </button>
                            </div>
                            <div class="bordered" style="display:table-cell; width:100%; vertical-align:middle; border-color:transparent; border-bottom-color:lightgray">
                                <h5 class="btn-group" style="text-align:left; margin:auto; margin-left:10px ">@period.periodName</h5>
                            </div>
                        </div>

                        <div class="collapse @mtrcTaskDisplay" style="margin-left:42px">
                            <table class="table table-condensed table-hover" id="tblAPTasks" style="margin-top:5px">
                                <tr style="background-color:lightgray; max-height:10px">
                                    <th style="text-align:center; width:25%">
                                        @Html.DisplayNameFor(model => model.mtrcTaskList.First().mtrcList.First().mtrc_prod_display_text)
                                    </th>
                                    <th style="text-align:center; width:25%">
                                        @Html.DisplayNameFor(model => model.mtrcTaskList.First().mtrcList.First().status)
                                    </th>
                                    <th style="text-align:center; width:25%">
                                        Action
                                    </th>
                                    <th style="text-align:center; width:25%">
                                        Due By
                                    </th>
                                </tr>

                                @foreach (var mtrc in period.mtrcList)
                                {
                                    string dueMonth = new DateTime(Int32.Parse(mtrc.year), Int32.Parse(mtrc.month), 18).AddMonths(1).Month.ToString();
                                    string dueYear = new DateTime(Int32.Parse(mtrc.year), Int32.Parse(mtrc.month), 18).AddMonths(1).Year.ToString();
                                    string overdueClass = (new DateTime(Int32.Parse(dueYear), Int32.Parse(dueMonth), 18) < DateTime.Today) ? "overdue" : "";
                                    <tr>
                                        <td style="text-align:center; width:25%">
                                            @Html.DisplayFor(modelItem => mtrc.mtrc_prod_display_text)
                                        </td>
                                        <td style="text-align:center; width:25%">
                                            @Html.DisplayFor(modelItem => mtrc.status)
                                        </td>
                                        <td style="text-align:center; width:25%">
                                            @{string mtrcUrl = "/Metric/EditView/" + mtrc.mtrc_id + "?month=" + mtrc.month_name + "&year=" + mtrc.year;}
                                            <a href="@mtrcUrl">Manage Metric</a>
                                        </td>
                                        <td class="@overdueClass" style="text-align:center; width:25%">
                                            @dueMonth/18/@dueYear
                                        </td>
                                    </tr>
                                }
                            </table>

                        </div>
                    }
                </div>
            }

        </div>*@
    </div>
</div>


@*****************@
@*SUBMITTER TASKS*@
@*****************@
<div class="row" id="divSubmitterTasks" style="margin-left:5px; margin-right:5px">
    @if (Model.apSubmitTaskList.Count() > 0)
    {
        <div class="panel-group" style="font-family:Arial; max-width:1000px; margin:0 auto; margin-top:10px">
            <div class="panel panel-info">

                <div class="panel-heading" style="text-align:left">
                    <a class="glyph-link" data-toggle="collapse" href="#collapse-ap-tasks"><span class="glyphicon @apTaskGlyph"></span></a>
                    <h4 class="btn-group" style="text-align:left; margin:auto; margin-left:10px; font-weight:bold ">
                        Action Plan Tasks
                        <span>(@Model.apSubmitTaskList.SelectMany(x => x.periodList).SelectMany(x => x.mtrcList).Count())</span>
                    </h4>
                </div>

                <div id="collapse-ap-tasks" class="panel-collapse collapse @apTaskDisplay">
                    <div class="panel-body">

                        @foreach (var bldg in Model.apSubmitTaskList)
                        {
                            <div class="panel-group">
                                <div class="panel panel-default">
                            
                                    <div class="panel-heading" style="text-align:left">
                                        <a class="glyph-link" data-toggle="collapse" href="#collapse-@bldg.bldgName.Replace(" ", "")"><span class="glyphicon @apTaskGlyph" style="font-size:10px"></span></a>
                                        <h5 class="btn-group" style="text-align:left; margin:auto; margin-left:10px; font-weight:bold">
                                            @{string url = "/Home/BuildingSummary/?year=" + bldg.periodList.First().mtrcList.First().year + "&bldg_id=" + bldg.periodList.First().mtrcList.First().bldg_id;}
                                            <a href="@url">
                                                @bldg.bldgName
                                                <span>(@bldg.periodList.SelectMany(x => x.mtrcList).Count())</span>
                                            </a>
                                        </h5>
                                    </div>

                                    <div id="collapse-@bldg.bldgName.Replace(" ", "")" class="panel-collapse collapse @apTaskDisplay">
                                        <div class="panel-body">

                                            <div style="margin-left:30px">
                                                @foreach (var period in bldg.periodList)
                                                {



                                                    <div class="btn-toolbar" style="margin-top:5px">
                                                        <div class="bordered" style="display:table-cell; border-top-left-radius:4px; border-bottom-left-radius:4px; border-color:grey; border-right:transparent">
                                                            <button type="button" class="btn btn-default btn-group" style="margin-left:0px; border-color:transparent; border-top-right-radius:0px; border-bottom-right-radius:0px">
                                                                <span class="glyphicon @apTaskGlyph" style="font-size:10px"></span>
                                                            </button>
                                                        </div>
                                                        <div class="bordered" style="display:table-cell; width:100%; vertical-align:middle; border-color:grey; border-top-right-radius:4px; border-bottom-right-radius:4px">
                                                            <h5 class="btn-group" style="text-align:left; margin:auto; margin-left:10px ">
                                                                @period.periodName
                                                                <span>(@period.mtrcList.Count())</span>
                                                            </h5>
                                                        </div>
                                                    </div>

                                                    <div class="collapse @apTaskDisplay" style="margin-left:40px">
                                                        <table class="table table-condensed table-hover" id="tblAPTasks" style="margin-top:5px">
                                                            <tr style="background-color:lightgray">
                                                                <th style="text-align:center; width:25%">
                                                                    @Html.DisplayNameFor(model => model.apSubmitTaskList.First().periodList.First().mtrcList.First().mtrc_prod_display_text)
                                                                </th>
                                                                <th style="text-align:center; width:25%">
                                                                    @Html.DisplayNameFor(model => model.apSubmitTaskList.First().periodList.First().mtrcList.First().status)
                                                                </th>
                                                                <th style="text-align:center; width:25%">
                                                                    Action
                                                                </th>
                                                                <th style="text-align:center; width:25%">
                                                                    Due By
                                                                </th>
                                                            </tr>

                                                            @foreach (var mtrc in period.mtrcList)
                                                            {
                                                                string backgroundColor = (mtrc.status == "Rejected") ? "#ffbb8b" : "white";
                                                                <tr style="background-color:@backgroundColor">
                                                                    <td style="text-align:center; width:25%">
                                                                        @Html.DisplayFor(modelItem => mtrc.mtrc_prod_display_text)
                                                                    </td>
                                                                    <td style="text-align:center; width:25%">
                                                                        @Html.DisplayFor(modelItem => mtrc.status)
                                                                    </td>
                                                                    <td style="text-align:center; width:25%">
                                                                        @{string apUrl = "/ActionPlan/viewEdit/?mp_id=" + mtrc.mtrc_period_id + "&bldg_id=" + mtrc.bldg_id + "&bapm_id=" + mtrc.rz_bapm_id;}
                                                                        <a href="@apUrl" style="color:red">@mtrc.action</a>
                                                                    </td>
                                                                    <td style="text-align:center; width:25%">
                                                                        TBD
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </table>
                                                    </div>
                                                }
                                            </div>
                                    
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>
    }
</div>

@****************@
@*REVIEWER TASKS*@
@****************@
<div class="row" id="divReviewerTasks" style="margin-left:5px; margin-right:5px">
    @if (Model.apReviewTaskList.Count() > 0)
    {
        <div class="panel-group" style="font-family:Arial; max-width:1000px; margin:0 auto; margin-top:10px">
            <div class="panel panel-info">

                <div class="panel-heading" style="text-align:left">
                    <a class="glyph-link" data-toggle="collapse" href="#collapse-ap-review-tasks"><span class="glyphicon @apTaskGlyph"></span></a>
                    <h4 class="btn-group" style="text-align:left; margin:auto; margin-left:10px; font-weight:bold ">
                        Action Plan Review Tasks
                        <span>(@Model.apReviewTaskList.SelectMany(x => x.periodList).SelectMany(x => x.bldgList).Count())</span>
                    </h4>
                </div>

                <div id="collapse-ap-review-tasks" class="panel-collapse collapse @apTaskDisplay">
                    <div class="panel-body">

                        @foreach (var mtrc in Model.apReviewTaskList)
                        {
                            <div class="panel-group">
                                <div class="panel panel-default">

                                    <div class="panel-heading" style="text-align:left">
                                        <a class="glyph-link" data-toggle="collapse" href="#collapse-@mtrc.mtrc_prod_display_text.Replace(" ", "")"><span class="glyphicon @apTaskGlyph" style="font-size:10px"></span></a>
                                        <h5 class="btn-group" style="text-align:left; margin:auto; margin-left:10px; font-weight:bold">
                                            @mtrc.mtrc_prod_display_text
                                            <span>(@mtrc.periodList.SelectMany(x => x.bldgList).Count())</span>
                                        </h5>
                                    </div>

                                    <div id="collapse-@mtrc.mtrc_prod_display_text.Replace(" ", "")" class="panel-collapse collapse @apTaskDisplay">
                                        <div class="panel-body">

                                            <div style="margin-left:30px">
                                                @foreach (var period in mtrc.periodList)
                                                {
                                                    <div class="btn-toolbar" style="margin-top:5px">
                                                        <div class="bordered" style="display:table-cell; border-top-left-radius:4px; border-bottom-left-radius:4px; border-color:grey; border-right:transparent">
                                                            <button type="button" class="btn btn-default btn-group" style="margin-left:0px; border-color:transparent; border-top-right-radius:0px; border-bottom-right-radius:0px">
                                                                <span class="glyphicon @apTaskGlyph" style="font-size:10px"></span>
                                                            </button>
                                                        </div>
                                                        <div class="bordered" style="display:table-cell; width:100%; vertical-align:middle; border-color:grey; border-top-right-radius:4px; border-bottom-right-radius:4px">
                                                            <h5 class="btn-group" style="text-align:left; margin:auto; margin-left:10px ">
                                                                @period.periodName
                                                                <span>(@period.bldgList.Count())</span>
                                                            </h5>
                                                        </div>
                                                    </div>

                                                    <div class="collapse @apTaskDisplay" style="margin-left:40px">
                                                        <table class="table table-condensed table-hover" id="tblAPTasks" style="margin-top:5px">
                                                            <tr style="background-color:lightgray">
                                                                <th style="text-align:center; width:25%">
                                                                    @Html.DisplayNameFor(model => model.apReviewTaskList.First().periodList.First().bldgList.First().bldgName)
                                                                </th>
                                                                <th style="text-align:center; width:25%">
                                                                    @Html.DisplayNameFor(model => model.apReviewTaskList.First().periodList.First().bldgList.First().status)
                                                                </th>
                                                                <th style="text-align:center; width:25%">
                                                                    Action
                                                                </th>
                                                                <th style="text-align:center; width:25%">
                                                                    Due By
                                                                </th>
                                                            </tr>

                                                            @foreach (var bldg in period.bldgList)
                                                            {
                                                                string dueMonth = new DateTime(Int32.Parse(bldg.year), Int32.Parse(bldg.month), 18).AddMonths(1).Month.ToString();
                                                                string dueYear = new DateTime(Int32.Parse(bldg.year), Int32.Parse(bldg.month), 18).AddMonths(1).Year.ToString();
                                                                string overdueClass = (new DateTime(Int32.Parse(dueYear), Int32.Parse(dueMonth), 18) < DateTime.Today) ? "overdue" : "";
                                                                <tr>
                                                                    <td style="text-align:center; width:25%">
                                                                        @Html.DisplayFor(modelItem => bldg.bldgName)
                                                                    </td>
                                                                    <td class="cellAPStatus" style="text-align:center; width:25%">
                                                                        @Html.DisplayFor(modelItem => bldg.status)
                                                                    </td>
                                                                    <td class="cellQuickReview" style="text-align:center; width:25%">
                                                                        @{string apUrl = "/ActionPlan/viewEdit/?mp_id=" + bldg.mtrc_period_id + "&bldg_id=" + bldg.bldg_id + "&bapm_id=" + bldg.rz_bapm_id;}
                                                                        <input type="hidden" class="hdnBapmId" id="hdnBapmId" value="@bldg.rz_bapm_id" />
                                                                        <a class="lnkQuickReview" href="#" onclick="return false; ">Quick Review</a>
                                                                    </td>
                                                                    <td style="text-align:center; width:25%">
                                                                        TBD
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </table>
                                                    </div>
                                                }
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>
    }
</div>

@************************@
@*METRIC COLLECTOR TASKS*@
@************************@
<div class="row" id="divCollectorTasks" style="margin-left:5px; margin-right:5px">
    @if (Model.mtrcTaskList.Count() > 0)
    {
        <div class="panel-group" style="font-family:Arial; max-width:1000px; margin:0 auto; margin-top:10px">
            <div class="panel panel-info">

                <div class="panel-heading" style="text-align:left">
                    <a class="glyph-link" data-toggle="collapse" href="#collapse-mtrc-tasks"><span class="glyphicon @mtrcTaskGlyph"></span></a>
                    <h4 class="btn-group" style="text-align:left; margin:auto; margin-left:10px; font-weight:bold ">
                        Metric Collector Tasks
                        <span>(@Model.mtrcTaskList.SelectMany(x => x.mtrcList).Count())</span>
                    </h4>
                </div>

                <div id="collapse-mtrc-tasks" class="panel-collapse collapse @mtrcTaskDisplay">
                    <div class="panel-body">

                        @foreach (var period in Model.mtrcTaskList)
                        {
                            <div class="btn-toolbar" style="margin-top:5px">
                                <div class="bordered" style="display:table-cell; border-top-left-radius:4px; border-bottom-left-radius:4px; border-color:grey; border-right:transparent">
                                    <button type="button" class="btn btn-default btn-group" style="margin-left:0px; border-color:transparent; border-top-right-radius:0px; border-bottom-right-radius:0px">
                                        <span class="glyphicon @mtrcTaskGlyph" style="font-size:10px"></span>
                                    </button>
                                </div>
                                <div class="bordered" style="display:table-cell; width:100%; vertical-align:middle; border-color:grey; border-top-right-radius:4px; border-bottom-right-radius:4px">
                                    <h5 class="btn-group" style="text-align:left; margin:auto; margin-left:10px ">
                                        @period.periodName
                                        <span>(@period.mtrcList.Count())</span>
                                    </h5>
                                </div>
                            </div>

                            <div class="collapse @mtrcTaskDisplay" style="margin-left:40px">
                                <table class="table table-condensed table-hover" id="tblAPTasks" style="margin-top:5px">
                                    <tr style="background-color:lightgray; max-height:10px">
                                        <th style="text-align:center; width:25%">
                                            @Html.DisplayNameFor(model => model.mtrcTaskList.First().mtrcList.First().mtrc_prod_display_text)
                                        </th>
                                        <th style="text-align:center; width:25%">
                                            @Html.DisplayNameFor(model => model.mtrcTaskList.First().mtrcList.First().status)
                                        </th>
                                        <th style="text-align:center; width:25%">
                                            Action
                                        </th>
                                        <th style="text-align:center; width:25%">
                                            Due By
                                        </th>
                                    </tr>

                                    @foreach (var mtrc in period.mtrcList)
                                    {
                                        string dueMonth = new DateTime(Int32.Parse(mtrc.year), Int32.Parse(mtrc.month), 18).AddMonths(1).Month.ToString();
                                        string dueYear = new DateTime(Int32.Parse(mtrc.year), Int32.Parse(mtrc.month), 18).AddMonths(1).Year.ToString();
                                        string overdueClass = (new DateTime(Int32.Parse(dueYear), Int32.Parse(dueMonth), 18) < DateTime.Today) ? "overdue" : "";
                                        <tr>
                                            <td style="text-align:center; width:25%">
                                                @Html.DisplayFor(modelItem => mtrc.mtrc_prod_display_text)
                                            </td>
                                            <td style="text-align:center; width:25%">
                                                @Html.DisplayFor(modelItem => mtrc.status)
                                            </td>
                                            <td style="text-align:center; width:25%">
                                                @{string mtrcUrl = "/Metric/EditView/" + mtrc.mtrc_id + "?month=" + mtrc.month_name + "&year=" + mtrc.year;}
                                                <a href="@mtrcUrl">Manage Metric</a>
                                            </td>
                                            <td class="@overdueClass" style="text-align:center; width:25%">
                                                @dueMonth/18/@dueYear
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    }
</div>

<!-- Quick Review Modal -->
<div id="quickReviewForm" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:60%">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-Primary-Gradient">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Action Plan Review</h3>
            </div>
            <div class="modal-body" id="quickReviewBody">

            </div>
            <div class="modal-footer" id="quickReviewFooter">
                <input type="button" class="btn btn-primary" id="btnApproveActionPlan" value="Approve" />
                <input type="button" class="btn btn-primary" id="btnRejectActionPlan" value="Reject" />
                <button type="button" class="btn btn-warning" id="btnCancelReview" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>
