@model IEnumerable<REDZONE.Models.ActionPlan>
@{ ViewBag.Title = "viewEdit"; }
@{string userRole = ViewBag.curUserRole;}

<div id="globalVariables">
    <input type="hidden" id="userRole" value="@userRole" />
</div>

<div class="panel panel-info" style="margin-top:5px; font-family:Arial; ">
    <div class="panel-heading padding2">
        <span style="font-weight:bold; font-size:20px" id="metricName"></span>
        <span style="font-weight:bold; font-size:20px" id="showTable"> Metric Action Planning</span><br />
        <span style="font-weight:bold; color: black" id="buildingName"></span>&nbsp;-&nbsp;
        <span style="font-weight:bold; color: black" id="metricDate"></span>
</div>

    <div class="panel-body padding2 ">
        @if (Model.Count() > 0)
        {
            string currentAPVersion = Model.First().apVersion;
            string currentAPStatus = Model.First().apStatus;
            string currentDisabled = "";
            string displayStatus = "";
            switch (currentAPStatus)
            {
                case "Not Started":
                    displayStatus = "New";
                    break;
                case "WIP":
                    displayStatus = "In Process";
                    break;
                case "Ready For Review":
                    displayStatus = "Ready For Review";
                    currentDisabled = "Disabled";
                    break;
                case "Rejected":
                    displayStatus = "Rejected";
                    currentDisabled = "Disabled";
                    break;
                case "Approved":
                    displayStatus = "Approved";
                    currentDisabled = "Disabled";
                    break;
                default:
                    displayStatus = currentAPStatus;
                    break;
            }

            <div id="divCurrentStatus">
                <h4 style="text-align:left; color:green">Action Plan Status: @displayStatus</h4>
            </div>

            //Display Reasons
            <div id="divReasonSummary">
                <h4 style="text-align:left">Reason Summary</h4>
                <div class="bordered" style="padding:10px; padding-bottom:5px; border-radius:4px; border-color:lightgray ">
                    <ul style="text-align:center">
                        @if (Model.First().reasonList.Count() > 0)
                        {
                            foreach (var reason in Model.First().reasonList)
                            {
                                <li title="@reason.mpvr_Comment" style="text-align:left">@reason.reason_text</li>
                            }
                        }
                        else
                        {
                            <li>There are no reasons to display.</li>
                        }

                    </ul>
                </div>
                <div id="btnsReasons" style="text-align:right; margin-top:5px">
                    <input type="button" class="btn btn-primary" id="btnEditReasons" value="Edit Reasons" />
                </div>
                <br />
            </div>

            //Display current action plan
            <div id="divCurrentActionPlan">
                <h4 style="text-align:left">Action Plan - Version @currentAPVersion</h4>
                <input type="hidden" id="apVersion" value=@currentAPVersion />

                @*Action Plan*@
                <textarea id="apText" rows="3" style="padding:15px; text-align:left; border-radius:4px; min-width:100%" @currentDisabled>@Model.First().actionPlanAction</textarea>
                <br />
                <div id="btnsActionPlan" style="text-align:right">
                    <input type="hidden" id="bapmId" value=@ViewBag.bapmId />
                    <input type="hidden" id="apDetailId" value=@Model.First().apd_id />
                    @if (!userRole.Contains("REVIEWER") && currentDisabled == "")
                    {
                        <input type="button" class="btn btn-primary" id="btnSaveActionPlan" value="Save Plan" />
                        <input type="button" class="btn btn-primary" id="btnSubmitActionPlan" value="Submit Plan" />
                    }
                </div>
                <br />
                
                @*Approve/Reject*@
                @if (userRole.Contains("REVIEWER"))
                {
                    <h4 style="text-align:left">Reviewer Comments</h4>
                    <textarea id="apReviewComment" rows="3" style="padding:15px; text-align:left; border-radius:4px; min-width:100%">@Model.First().reviewerComments</textarea>
                    <br />
                    <div id="btnsReviewAP" style="text-align:right">
                        <input type="hidden" id="bapmId" value=@ViewBag.bapmId />
                        <input type="hidden" id="apDetailId" value=@Model.First().apd_id />
                        <input type="button" class="btn btn-primary" id="btnRejectActionPlan" value="Reject Plan" />
                        <input type="button" class="btn btn-primary" id="btnApproveActionPlan" value="Approve Plan" />
                    </div>
                    <br />
                }

            </div>

            //Display previous action plan versions for current time period
            foreach (REDZONE.Models.ActionPlan actionPlan in Model.Where(x => x.apVersion != Model.First().apVersion))
            {
                <div class="btn-toolbar bordered" style="border-radius:4px; border-color:lightgray">
                    <button type="button" class="btn btn-default btn-group" style="margin-left:0px">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                    <h4 class="btn-group" style="text-align:left; margin-bottom:-5px">Action Plan - Version @actionPlan.apVersion</h4>

                </div>
                <div class="collapse" style="margin-left:45px; margin-top:5px">
                    <textarea rows="10" style="padding:15px; text-align:left; border-radius:4px; min-width:100%" disabled>@actionPlan.actionPlanAction</textarea>
                    @if (actionPlan.apStatus == "Rejected")
                    {
                        <h4 style="text-align:left">Reviewer Comments</h4>
                        <textarea rows="8" style="padding:15px; text-align:left; border-radius:4px; min-width:100%" disabled>@actionPlan.reviewerComments</textarea>
                    }
                </div>

                <br />
            }
        }
        else
        {
            <h4 style="text-align:left">Action Plan:</h4>
            <div class="bordered" style="padding:15px">
                <span>There is no action plan to display.</span>
            </div>
        }
    </div>
</div>



<script>
    //-------------------------------------------LOCAL VARIABLES-------------------------------------------
    function getMPid() { return localStorage.getItem("mpId"); }
    function getBuildingName() { return localStorage.getItem("mpBuildingName"); }
    function getMetricName() { return localStorage.getItem("mpName"); }
    function getMPvalueId() { return localStorage.getItem("mpValueId"); }
    function getMetricDate() { return localStorage.getItem("mpValueDate"); }

    $(document).ready(function () {
        $("#metricName").html(getMetricName());
        $("#buildingName").html(getBuildingName());
        $("#metricDate").html(getMetricDate());
    });

    //-------------------------------------------ACTIONS-------------------------------------------
    $('.btn-toolbar').on('click', '.btn', function (e) {
        var $target = $(this).parent().next();
        //alert($target.attr("aria-expanded"));
        $target.attr("aria-expanded") ? $target.collapse('toggle') : $target.collapse();
        $(this).children('.glyphicon').toggleClass('glyphicon-chevron-right glyphicon-chevron-down');
    })

    $('#btnsReasons').on('click', '#btnEditReasons', function () {
        window.location.href = "/MPVreasons/Assigment/" + getMPvalueId() + "?mpId=" + getMPid();
    });

    $('#btnsActionPlan').on('click', '#btnSubmitActionPlan', function () {
        //var validated = validateReasonRow();
        //if (validated) updateMPReason();
        submitActionPlan();
    });

    $('#btnsReviewAP').on('click', '#btnRejectActionPlan', function () {
        var status = 'Rejected';

        //buildSubmitAPReviewJSON(status);
        submitAPReview(status);
    });


    $('#btnsReviewAP').on('click', '#btnApproveActionPlan', function () {
        var status = 'Approved';

        //buildSubmitAPReviewJSON(status);
        submitAPReview(status);
    });

    $('#btnsActionPlan').on('click', '#btnSaveActionPlan', function () {

        //alert(buildSaveActionPlanJSON());

        saveActionPlan();
    });

    //------------------------------------------------------------------------------------------------
    //-------------------------------------------FUNCTIONS--------------------------------------------
    //------------------------------------------------------------------------------------------------

    function buildSubmitActionPlanJSON() {
        var productname = "Red Zone";
        var rz_bapm_id = $('#bapmId').val();
        var rz_apd_ap_ver = $('#apVersion').val();
        var rz_apd_subm_app_user_id = "1";
        var rz_apd_id = $('#apDetailId').val();
        var rz_apd_ap_text = $('#apText').val();

        var jsonPayload = '{"productname":"' + productname + '", "rz_bapm_id":"' + rz_bapm_id + '", "rz_apd_ap_ver":"' + rz_apd_ap_ver + '","rz_apd_subm_app_user_id":"' + rz_apd_subm_app_user_id + '","rz_apd_id":"' + rz_apd_id + '","rz_apd_ap_text":"' + rz_apd_ap_text + '"}';
        //alert("Json submitted:\n" + jsonPayloadDetail);
        return jsonPayload
    }

    function submitActionPlan() {
        var payload = buildSubmitActionPlanJSON();
        //alert(payload);

        $.ajax({
            url: '/ActionPlan/submitActionPlan',
            //url: 'http://dscapidev/dscmtrc/api/v1/metric/submitactionplan',
            method: "POST",
            cache: false,
            //type: "POST",
            //data: payload,
            data: { raw_json: payload },
            //contentType: "application/json; charset=utf-8",
            //dataType: "json",
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Failed to Save Data. Ajax Failed!!\nError:" + textStatus + "," + errorThrown);  //<-- Trap and alert of any errors if they occurred
            }
        }).done(function (d) {
            if (d == "Success") {
                alert("Action Plan Submitted!");
                location.reload();
            } else {
                alert("Error Saving the data!\n" + JSON.stringify(d));
            }
        });
    }

    function buildSaveActionPlanJSON() {
        var productname = "Red Zone";
        var rz_bapm_id = $('#bapmId').val();
        var rz_apd_ap_ver = $('#apVersion').val();
        var rz_apd_subm_app_user_id = "1";
        var rz_apd_id = $('#apDetailId').val();

        var rz_apd_ap_text = $('#apText').val();

        var jsonPayload = '{"productname":"' + productname + '", "rz_bapm_id":"' + rz_bapm_id + '", "rz_apd_ap_ver":"' + rz_apd_ap_ver + '","rz_apd_subm_app_user_id":"' + rz_apd_subm_app_user_id + '","rz_apd_id":"' + rz_apd_id + '","rz_apd_ap_text":"' + rz_apd_ap_text + '"}';
        //alert("Json submitted:\n" + jsonPayloadDetail);
        return jsonPayload
    }

    function saveActionPlan() {
        var payload = buildSaveActionPlanJSON();
        alert(payload);

        $.ajax({
            url: '/ActionPlan/saveActionPlan',
            //url: 'http://dscapidev/dscmtrc/api/v1/metric/saveactionplan',
            method: "POST",
            cache: false,
            //type: "POST",
            //data: payload,
            data: { raw_json: payload },
            //contentType: "application/json; charset=utf-8",
            //dataType: "json",
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Failed to Save Data. Ajax Failed!!\nError:" + textStatus + "," + errorThrown);  //<-- Trap and alert of any errors if they occurred
            }
        }).done(function (d) {
            if (d == "Success") {
                alert("Action Plan Saved!");
                location.reload();
            } else {
                alert("Error Saving the data!\n" + JSON.stringify(d));
            }
        });
    }

    function buildSubmitAPReviewJSON(status) {
        var productname = "Red Zone";
        var rz_apd_subm_app_user_id = "2";
        var rz_apd_id = $('#apDetailId').val();
        var rz_apd_ap_review_text = $('#apReviewComment').val();
        var rz_apd_ap_status = status;

        //If status is rejected, review text element is required (optional for Approved status)

        var jsonPayload = '{"productname":"' + productname + '","rz_apd_revw_app_user_id":"' + rz_apd_subm_app_user_id + '","rz_apd_id":"' + rz_apd_id + '","rz_apd_ap_review_text":"' + rz_apd_ap_review_text + '","rz_apd_ap_status":"' + rz_apd_ap_status + '"}';

        //alert("Json submitted:\n" + jsonPayloadDetail);
        return jsonPayload
    }

    function submitAPReview(status) {
        var payload = buildSubmitAPReviewJSON(status);
        //alert(payload);

        $.ajax({
            url: '/ActionPlan/submitActionPlanReview',
            //url: 'http://dscapidev/dscmtrc/api/v1/metric/submitactionplanreview',
            method: "POST",
            cache: false,
            //type: "POST",
            //data: payload,
            data: { raw_json: payload },
            //contentType: "application/json; charset=utf-8",
            //dataType: "json",
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Failed to Save Data. Ajax Failed!!\nError:" + textStatus + "," + errorThrown);  //<-- Trap and alert of any errors if they occurred
            }
        }).done(function (d) {
            if (d == "Success") {
                alert("Action Plan Review Submitted!");
                location.reload();
            } else {
                alert("Error Saving the data!\n" + JSON.stringify(d));
            }
        });
    }
</script>
