@model REDZONE.Models.ActionPlanViewModel
@{ ViewBag.Title = "viewEdit"; }
@{string userRole = ViewBag.curUserRole;}

<script src="~/Scripts/ActionPlan_viewEdit.js"></script>

<div id="globalVariables">
    <input type="hidden" id="userRole" value="@userRole" />
</div>

<div class="panel panel-default" style="margin-top:5px; font-family:Arial; ">
    <div class="panel-heading padding2">
        <span style="font-weight:bold; font-size:20px" id="metricName"></span>
        <span style="font-weight:bold; font-size:20px" id="showTable"> Metric Action Planning</span><br />
        <span style="font-weight:bold; color: black" id="buildingName"></span>&nbsp;-&nbsp;
        <span style="font-weight:bold; color: black" id="metricDate"></span>
</div>

    <div class="panel-body padding2 ">
        @if (Model.actionPlanList.Count() > 0 && Model.bapmStatus != "")
        {
            string currentAPVersion = Model.actionPlanList.First().apVersion;
            string currentAPStatus = Model.actionPlanList.First().apStatus;
            string apEditable = "";
            string reviewEditable = "";
            string displayStatus = "";
            string displayColor = "green";
            switch (currentAPStatus)
            {
                case "Not Started":
                    displayStatus = "New";
                    break;
                case "WIP":
                    displayStatus = "In Process";
                    break;
                case "Ready For Review":
                    displayStatus = "Ready For Review";
                    apEditable = "disabled";
                    reviewEditable = "";
                    break;
                case "Rejected":
                    displayStatus = "Rejected";
                    apEditable = "disabled";
                    reviewEditable = "disabled";
                    displayColor = "red";
                    break;
                case "Rejected New":
                    displayStatus = "Rejected (New Plan Required)";
                    apEditable = "";
                    reviewEditable = "";
                    displayColor = "red";
                    break;
                case "Approved":
                    displayStatus = "Approved";
                    apEditable = "disabled";
                    reviewEditable = "disabled";
                    break;
                default:
                    displayStatus = currentAPStatus;
                    break;
            }


            <div id="divCurrentStatus">
                <h4 style="text-align:left; color:@displayColor">Action Plan Status: @displayStatus</h4>
            </div>

            //SECTION: REASONS
            <div id="divReasonSummary">
                <h4 style="text-align:left">Reason Summary</h4>
                <div class="bordered" style="padding:10px; padding-bottom:0px; border-radius:4px; border-color:lightgray ">
                    <ul style="text-align:center">
                        @if (Model.reasonList.Count() > 0)
                        {
                            foreach (var reason in Model.reasonList)
                            {
                                <li title="@reason.mpvr_Comment" style="text-align:left">@reason.reason_text</li>
                            }
                        }
                        else
                        {
                            <li>There are no reasons to display.</li>
                        }

                    </ul>
                </div>
                <div id="btnsReasons" style="text-align:right; margin-top:5px">
                    @if (currentAPStatus.Equals("WIP") || currentAPStatus.Equals("Rejected") || currentAPStatus.Equals("Not Started"))
                    {  //(actionPlanSts == "Rejected" || actionPlanSts == "WIP")
                        <input type="button" class="btn btn-primary" id="btnEditReasons" value="Edit Reasons" />
                    }
                    
                </div>
                <br />
            </div>

            //SECTION: CURRENT ACTION PLAN SECTION
            <div id="divCurrentActionPlan">
                <h4 style="text-align:left">Action Plan - Version @currentAPVersion</h4>
                <input type="hidden" id="apVersion" value=@currentAPVersion />

                @*-----------*@
                @*Action Plan*@
                @*-----------*@
                @if (userRole.Contains("REVIEWER") && apEditable == "")
                {
                    <div id="apText" class="bordered" style="padding:15px; text-align:left; border-radius:4px; border-color:lightgray; color:red">The action plan is not yet ready for review.</div>
                    <br />
                }
                else
                {
                    <textarea id="apText" style="padding:15px; text-align:left; border-radius:4px; min-width:100%; min-height:100px" maxlength="2000" @apEditable>@Model.actionPlanList.First().actionPlanAction</textarea>
                    @*<div id="apText" class="bordered" contenteditable="@apEditable" style="padding:15px; text-align:left; border-radius:4px; border-color:lightgray; min-height:100px">@Model.First().actionPlanAction</div>*@

                    <div id="apSubmittedBy" class="col-md-6" style="text-align:left;color:gray">Submitted By: @Model.actionPlanList.First().submittedBy</div>
                    <div id="apTextChars" class="col-md-6" style="text-align:right;color:gray">@Model.actionPlanList.First().actionPlanAction.Length / 2000</div>
                    <br />
                    
                    <div id="btnsActionPlan" style="text-align:right">
                        <input type="hidden" id="bapmId" value="@ViewBag.bapmId" />
                        <input type="hidden" id="apDetailId" value="@Model.actionPlanList.First().apd_id" />
                        @if (!userRole.Contains("REVIEWER") && apEditable == "")
                        {
                            <input type="button" class="btn btn-primary" id="btnSaveActionPlan" value="Save Plan" />
                            <input type="button" class="btn btn-primary" id="btnSubmitActionPlan" value="Submit Plan" />
                        }
                    </div>
                    <br />
                }

                @*--------------*@
                @*Approve/Reject*@
                @*--------------*@
                @if (userRole.Contains("REVIEWER") && apEditable == "disabled")
                {
                    <h4 style="text-align:left">Reviewer Comments</h4>
                    <textarea id="apReviewComment" style="padding:15px; text-align:left; border-radius:4px; min-width:100%; min-height:100px" maxlength="2000" @reviewEditable>@Model.actionPlanList.First().reviewerComments</textarea>
                    //<div id="apReviewComment" class="bordered" contenteditable="@reviewEditable" style="padding:15px; text-align:left; border-radius:4px; border-color:lightgray; min-height:100px">@Model.First().reviewerComments</div>
                    
                    <div id="apReviewedBy" class="col-md-6" style="text-align:left;color:gray">Reviewed By: @Model.actionPlanList.First().reviewedBy</div>
                    <div id="apReviewChars" class="col-md-6" style="text-align:right;color:gray">@Model.actionPlanList.First().reviewerComments.Length / 2000</div>
                    <br />
                    <div id="btnsReviewAP" style="text-align:right">
                        <input type="hidden" id="bapmId" value=@ViewBag.bapmId />
                        <input type="hidden" id="apDetailId" value=@Model.actionPlanList.First().apd_id />
                        @if (reviewEditable == "")
                        {
                            <input type="button" class="btn btn-primary" id="btnRejectActionPlan" value="Reject Plan" />
                            <input type="button" class="btn btn-primary" id="btnApproveActionPlan" value="Approve Plan" />
                        }
                    </div>
                    <br />
                }

            </div>

            //SECTION: PREVIOUS ACTION PLANS
            <br />
            foreach (REDZONE.Models.ActionPlan actionPlan in Model.actionPlanList.Where(x => x.apVersion != Model.actionPlanList.First().apVersion))
            {
                <div class="btn-toolbar">
                    <div class="bordered" style="display:table-cell; border-top-left-radius:4px; border-bottom-left-radius:4px; border-color:lightgray; border-right:transparent">
                        <button type="button" class="btn btn-default btn-group" style="margin-left:0px; border-color:transparent; border-top-right-radius:0px; border-bottom-right-radius:0px">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </div>
                    <div class="bordered" style="display:table-cell; width:100%; border-top-right-radius:4px; border-bottom-right-radius:4px; vertical-align:middle; border-color:lightgray;">
                        <h4 class="btn-group" style="text-align:left; margin:auto; margin-left:5px ">Action Plan - Version @actionPlan.apVersion</h4>
                    </div>
                </div>

                <div class="collapse" style="margin-left:40px">
                    <h4 style="text-align:left; color:red; margin-top:10px">Action Plan Status: @actionPlan.apStatus</h4>
                    <div class="bordered" style="padding:15px; text-align:left; border-radius:4px; border-color:lightgray; min-height:100px">@actionPlan.actionPlanAction</div>
                    <div style="text-align:left;color:gray">Submitted By: @actionPlan.submittedBy</div>
                    
                    <h4 style="text-align:left">Reviewer Comments</h4>
                    <div class="bordered" style="padding:15px; text-align:left; border-radius:4px; border-color:lightgray; min-height:100px">@actionPlan.reviewerComments</div>
                    <div style="text-align:left;color:gray">Reviewed By: @actionPlan.reviewedBy</div>
                </div>
                <br />
            }
        }
        else
        {
            <h4 style="text-align:left">Action Plan:</h4>
            <div class="bordered" style="padding:15px">
                <span>There is no action plan to display.</span>
            </div>
        }
    </div>
</div>
