@model IEnumerable<REDZONE.Models.ActionPlan>
@{ ViewBag.Title = "viewEdit"; }

<h2>Metric Performance Action Planning</h2>

<br />

<br />

@if (Model.Count() > 0)
{
    <h4 style="text-align:left">Reason Summary</h4>
    <div class="bordered" style="padding:15px; padding-bottom:10px; border-radius:4px ">
        <ul style="text-align:center">
            @if (Model.First().reasonList.Count() > 0)
            {
                foreach (var reason in Model.First().reasonList)
                {
                    <li title="@reason.mpvr_Comment" style="text-align:left">@reason.reason_text</li>
                }
            }
            else
            {
                <li>There are no reasons to display.</li>
            }

        </ul>
    </div>

    <br />

    <h4 style="text-align:left">Action Plan - Version @Model.First().apVersion</h4>
    <textarea rows="10" style="padding:15px; text-align:left; border-radius:4px; min-width:100%">@Model.First().actionPlanAction</textarea>
    <br />
    <div style="text-align:center">
        <button>Save Plan</button>
        <button>Submit Plan</button>
    </div>

    foreach (REDZONE.Models.ActionPlan actionPlan in Model)
    {
        <div class="input-group">
            <button type="button" class="btn btn-default input-group-addon" data-toggle="collapse" data-target="#demo">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <h4 style="text-align:left">Action Plan - Version @actionPlan.apVersion</h4>
        </div>
        <div id="demo" class="collapse in">Some dummy text in here.</div>

        
        
        
        <textarea rows="10" style="padding:15px; text-align:left; border-radius:4px; min-width:100%" disabled>@actionPlan.actionPlanAction</textarea>
        <br />
    }
}
else
{
    <h4 style="text-align:left">Action Plan:</h4>
    <div class="bordered" style="padding:15px">
        <span>There is no action plan to display.</span>
    </div>
}



