@model REDZONE.Models.ActionPlanViewModel
@{ ViewBag.Title = "viewEdit";
    string uId = Session["emp_id"].ToString();
    int counter = 0;
    string mostRecentApOpen = "";
    bool isValidActionPlanModel = (Model.actionPlanList.Count() > 0 && Model.bapmStatus != "") ? true : false;
}

<style>
    .headerCell {
        border: 1px solid black;
        padding: 5px;
    }

    .scroll-Table {
        font-weight: bold;
        font-size: small;
        text-align: center;
        width: 99%;
    }

    .scroll-Head {
        padding: 0px;
        background-color: #f0eaea;
    }

    .scroll-Body {
        padding: 0px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .IEScroll{
        width:17px;
    }
    .notIEScroll{
        /*width:22px;*/
        width:17px;
    }
</style>
<script src="~/Scripts/ActionPlan_viewEdit.js"></script>

<div id="globalVariables">
    @*<input type="hidden" id="userRole" value="@userRole" />*@
    <input type="hidden" id="userId" value="@uId" />
</div>

<div class="panel panel-default" style="margin-top:5px; font-family:Arial; ">
    <div class="panel-heading padding2" style="padding:0">
        <div class="row" style="padding:0; margin:0">
            <div class="col-xs-4 ">
            </div>
            <div class="col-xs-4" style="padding:3px;">
                <span style="font-weight:bold; font-size:20px; color:darkblue " id="showTable">Action Plan</span><br />
                <span style="font-weight:bold; color: black" id="metricName">@Model.mtrcDisplayText</span>&nbsp;-&nbsp;
                <span style="font-weight:bold; color: black" id="buildingName">@Model.bldgName</span>&nbsp;-&nbsp;
                <span style="font-weight:bold; color: black" id="metricDate">@Model.apMonthName @Model.apYear</span>
                <input type="hidden" id="bapmId" value="@ViewBag.bapmId" />
            </div>
            <div class="col-xs-4">
                <div class="" style="margin-top:15px; margin-left:5px; font-size:18px; text-align:right; padding-left:3px">
                    <span>Status: </span>
                    <span style="padding-left:3px; text-align:left; font-weight:bold; color:@Model.displayColor">@Model.displayStatus</span>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body padding2 ">
        <div id="currentActionPlanDetail">
            @if (Model.actionPlanList.Count() > 0 && Model.bapmStatus != "")
            {
                // ---------- SECTION: REASONS --------------------------------------------------------------------
                <div class="row" id="divReasonSummary">
                    <div class="col-md-12" style="text-align:left; font-size:18px">Reason Summary</div>
                    <div class="col-md-6">
                        <div class="bordered" style="padding:10px; padding-bottom:5px; border-radius:4px; border-color:darkgray; text-align:left ">
                            @if (Model.reasonList.Count() > 0)
                            {
                                <ul style="text-align:left; padding-left:20px;">
                                    @foreach (var reason in Model.reasonList)
                                    {
                                        <li title="@reason.mpvr_Comment" style="text-align:left;">
                                            @reason.reason_text
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <div style="color:red; padding-bottom:5px">There are no Assigned Reasons for the current Metric Action Plan</div>
                            }
                        </div>
                        @if (!(Model.currentAPStatus == "Ready For Review" || Model.currentAPStatus == "Approved") && Model.canEditReasons)
                        {
                            <div id="btnsReasons" style="text-align:left; margin-top:5px">
                                <input type="button" class="btn btn-primary" id="btnEditReasons" value="Edit Reasons" />
                            </div>
                        }
                    </div>
                    <div class="col-md-6">
                        @*------------------------------*@
                        @*-         Goal Table         -*@
                        @*------------------------------*@
                        <div class="panel panel-default scroll-Table hidden-xs">
                            <div class="panel-heading scroll-Head ">
                                <table style="margin:0; width:100%;">
                                    <tr style="background-color: #f0eaea; border-bottom:1px solid lightgray">
                                        <td>
                                            <table style="width:100%">
                                                <tr>
                                                    <td class="col-md-4">Metric</td>
                                                    <td class="col-md-4" style="border-left: 1px solid #c6c4c4; background-color:#bbedff">Goal</td>
                                                    <td class="col-md-4" style="border-left: 1px solid #c6c4c4"><span id="metricDate1">@Model.apMonthName</span></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="panel-body scroll-Body">
                                <div class="row" style="margin:0">
                                    <table style="width:100%">
                                        <tr class="rHover" style="border-bottom: 1px solid #c6c4c4;">
                                            <td class="col-md-4" style="text-align:center; background-color:#f0eaea">@Model.mtrcDisplayText</td>
                                            <td class="col-md-4" style="text-align:center; border-left: 1px solid #c6c4c4; background-color:#bbedff; color:blue; font-weight:bold;">@Model.goalText</td>
                                            <td class="col-md-4" style="text-align:center; border-left: 1px solid #c6c4c4; background-color:#ffbb8b">@Model.mtrcPeriodValue</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <br />

                // ---------- SECTION: CURRENT ACTION PLAN SECTION ------------------------------------------------
                <div id="divCurrentActionPlan">

                    <input type="hidden" id="apVersion" value=@Model.currentAPVersion />

                    @*------------------------------*@
                    @*-         Action Plan        -*@
                    @*------------------------------*@
                    @if (Model.canViewWipAP || (Model.canViewFinishedAP && (Model.currentAPStatus == "Ready For Review" || Model.currentAPStatus == "Approved" || Model.currentAPStatus == "Rejected")))
                    {
                        <div class="col-md-6" style="text-align:left; font-size:18px; padding:0">Action Plan - Version @Model.currentAPVersion</div>
                        <div class="col-md-6" id="apTextChars" style="text-align:right;color:gray">@Model.actionPlanList.First().actionPlanAction.Length / 2000</div>
                        
                        <textarea id="apText" style="padding:15px; text-align:left; border-radius:4px; min-width:100%; min-height:100px" maxlength="2000" @Model.AP_EditableStatus>@Model.actionPlanList.First().actionPlanAction</textarea>
                        
                        <div class="row">
                            <div class="col-md-6" id="btnsActionPlan" style="text-align:left">
                                <input type="hidden" id="apDetailId" value="@Model.actionPlanList.First().apd_id" />
                                @if (Model.canSubmitAP && Model.AP_EditableStatus == "")
                                {
                                    <input type="button" class="btn btn-primary" id="btnSaveActionPlan" value="Save Plan" />
                                    <input type="button" class="btn btn-primary" id="btnSubmitActionPlan" value="Submit Plan" />
                                }
                            </div>

                            <div id="apSubmittedBy" class="col-md-6" style="text-align:right;color:gray">
                                @if(!String.IsNullOrEmpty(@Model.actionPlanList.First().submittedBy))
                                {
                                    <span>Submitted By: @Model.actionPlanList.First().submittedBy</span>
                                }
                            </div>
                        </div>
                        <br />
                    }
                    else if (!Model.canViewWipAP && Model.canViewFinishedAP)
                    {
                        <div style="text-align:left; font-size:18px; padding:0">Action Plan - Version @Model.currentAPVersion</div>
                        <div id="apText" class="bordered" style="padding:15px; text-align:left; border-radius:4px; border-color:darkgray; color:red">The action plan is not yet ready for review.</div>
                        <br />
                    }
                    else
                    {
                        <div style="text-align:left; font-size:18px; padding:0">Action Plan - Version @Model.currentAPVersion</div>
                        <div id="apText" class="bordered" style="padding:15px; text-align:left; border-radius:4px; border-color:darkgray; color:red">You cannot view this action plan.</div>
                        <br />
                    }

                    @*--------------*@
                    @*Approve/Reject*@
                    @*--------------*@
                    @if ((Model.canReviewAP && Model.review_EditableStatus == "") || (Model.canViewFinishedAP && Model.currentAPStatus == "Approved"))
                    {
                        <div class="col-md-6" style="text-align:left; font-size:18px; padding:0">Reviewer Comments</div>
                        <div class="col-md-6" id="apReviewChars" style="text-align:right;color:gray">@Model.actionPlanList.First().reviewerComments.Length / 2000</div>

                        <textarea id="apReviewComment" style="padding:15px; text-align:left; border-radius:4px; min-width:100%; min-height:100px" maxlength="2000" @Model.review_EditableStatus>@Model.actionPlanList.First().reviewerComments</textarea>
                        
                        <div class="row">
                            <div class="col-md-6" id="btnsReviewAP" style="text-align:left">
                                <input type="hidden" id="bapmId" value=@ViewBag.bapmId />
                                <input type="hidden" id="apDetailId" value=@Model.actionPlanList.First().apd_id />
                                @if (Model.review_EditableStatus == "")
                                {
                                    <input type="button" class="btn btn-primary" id="btnRejectActionPlan" value="Reject Plan" />
                                    <input type="button" class="btn btn-primary" id="btnApproveActionPlan" value="Approve Plan" />
                                }
                            </div>
                            <div class="col-md-6" id="apReviewedBy" style="text-align:right;color:gray">Reviewed By: @Model.actionPlanList.First().reviewedBy</div>
                        </div>
                        <br />
                    }

                </div>

                // ---------- SECTION: PREVIOUS VERSIONS OF CURRENT ACTION PLAN -----------------------------------
                <div id="divPreviousAPversions">
                    <br />

                    @foreach (REDZONE.Models.ActionPlan actionPlan in Model.actionPlanList.Where(x => x.apVersion != Model.actionPlanList.First().apVersion))
                    {
                        <div class="btn-toolbar">
                            <div class="bordered" style="display:table-cell; border-top-left-radius:4px; border-bottom-left-radius:4px; border-color:darkgray; border-right:transparent">
                                <button type="button" class="btn btn-default btn-group" style="margin-left:0px; border-color:transparent; border-top-right-radius:0px; border-bottom-right-radius:0px">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </button>
                            </div>
                            <div class="bordered" style="display:table-cell; width:100%; border-top-right-radius:4px; border-bottom-right-radius:4px; vertical-align:middle; border-color:darkgray;">
                                <h4 class="btn-group" style="text-align:left; margin:auto; margin-left:20px ">Action Plan - Version @actionPlan.apVersion</h4>
                            </div>
                        </div>

                        <div class="collapse" style="margin-left:40px">
                            <h4 style="text-align:left; color:red; margin-top:10px">Action Plan Status: @actionPlan.apStatus</h4>
                            <div class="bordered" style="padding:15px; text-align:left; border-radius:4px; border-color:darkgray; min-height:100px">@actionPlan.actionPlanAction</div>
                            <div style="text-align:left;color:gray">Submitted By: @actionPlan.submittedBy</div>

                            <h4 style="text-align:left">Reviewer Comments</h4>
                            <div class="bordered" style="padding:15px; text-align:left; border-radius:4px; border-color:darkgray; min-height:100px">@actionPlan.reviewerComments</div>
                            <div style="text-align:left;color:gray">Reviewed By: @actionPlan.reviewedBy</div>
                        </div>
                        <br />
                    }
                </div>
            }
            else
            {
                <h4 style="text-align:left">Action Plan:</h4>
                <div class="bordered" style="padding:15px">
                    <span>There is no action plan to display.</span>
                </div>
            }
        </div>

    </div>
</div>

@* ======================= SECTION: RECENT MONTH ACTION PLANS ===================================== *@
<div class="panel panel-default" style="margin-top:5px; font-family:Arial; ">
    <div class="panel-heading">
        <h4 style="font-weight:bold; color:darkblue">Recent Action Plans</h4>
    </div>

    <div class="panel-body padding2 ">
        <div id="divPriorActionPlans">
            @if (Model.priorActionPlanList.Count() > 0)
            {
                foreach (REDZONE.Models.PriorActionPlan priorAP in Model.priorActionPlanList)
                {
                    counter = counter + 1;
                    //mostRecentApOpen = (counter == 1) ? "in" : "";
                    mostRecentApOpen = "";

                    <div class="btn-toolbar">
                        <div class="bordered" style="display:table-cell; border-top-left-radius:4px; border-bottom-left-radius:4px; border-color:darkgray; border-right:transparent">
                            <button type="button" class="btn btn-default btn-group" style="margin-left:0px; border-color:transparent; border-top-right-radius:0px; border-bottom-right-radius:0px">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </button>
                        </div>
                        <div class="bordered" style="display:table-cell; width:100%; border-top-right-radius:4px; border-bottom-right-radius:4px; vertical-align:middle; border-color:darkgray;">
                            <h4 class="btn-group" style="text-align:left; margin:auto; margin-left:20px ">@priorAP.priorAPMonth @priorAP.priorAPYear Action Plan <span style="color:@priorAP.priorAPStatusColor">(@priorAP.priorAPStatus)</span></h4>
                        </div>
                    </div>

                    <div class="collapse @mostRecentApOpen" style="margin-left:40px">
                        <br />
                        @*<div class="bordered" style="padding:15px; text-align:left; border-radius:4px; border-color:darkgray; min-height:100px">*@
                        <div>
                            <div class="bordered" style="border-radius:4px; border-color:lightgray">
                                <div class="row" style="margin-left:10px; margin-right:10px">
                                    <div class="col-md-6" style="margin:0 auto; text-align:center; margin-bottom:8px; margin-top:5px">
                                        <!-- Metric Period Header Information  -->
                                        <div class="row" style="margin:0; font-weight:bold">
                                            <div class="col-md-4 col-xs-2 headerCell" style="background-color:#f0eaea">Metric</div>
                                            <div class="col-md-4 col-xs-2 headerCell" style="background-color:#bbedff">Goal</div>
                                            <div class="col-md-4 col-xs-2 headerCell" style="background-color:#f0eaea"><span id="metricDate1">@priorAP.priorAPMonth</span></div>
                                        </div>
                                        <div class="row" style="margin:0">
                                            <div class="col-md-4 col-xs-2 headerCell" style="background-color:#f0eaea"><span class="mNameCell">@Model.mtrcDisplayText</span></div>
                                            <div class="col-md-4 col-xs-2 headerCell" style="background-color:#bbedff; color:blue; font-weight:bold;"><span id="mGoalCell">@priorAP.priorAPMetricGoalText</span></div>
                                            <div class="col-md-4 col-xs-2 headerCell" id="mValueCell" style="font-weight:normal; background-color:red">@priorAP.priorAPMetricValue</div>
                                        </div>
                                    </div> <!-- END OF HEADER INFORMATION-->

                                    <div class="col-md-6">
                                        <div class="bordered" style="padding:10px; padding-bottom:0px; text-align:left; border-radius:4px; border-color:transparent">
                                            <ul style="text-align:center">
                                                @if (priorAP.priorAPReasonList.Count() > 0)
                                                {
                                                    foreach (var reason in priorAP.priorAPReasonList)
                                                    {
                                                        <li title="@reason.mpvr_Comment" style="text-align:left">@reason.reason_text</li>
                                                    }
                                                }
                                                else
                                                {
                                                    <li>There are no reasons to display.</li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />

                            @if (priorAP.priorAPText != "")
                            {
                                <div class="bordered" style="padding:15px; text-align:left; border-radius:4px; border-color:lightgray">@priorAP.priorAPText</div>
                            }
                        </div>
                        @*<div style="text-align:left;color:gray">Submitted By: @priorAP.submittedBy</div>*@
                        <br />

                        <div class="btns-prior-ap-detail" style="text-align:left">
                            <input type="hidden" id="priorBapmId" value="@priorAP.bapm_id" />
                            <input type="hidden" id="priorMpvId" value=@priorAP.mtrc_period_val_id />
                            <input type="hidden" id="priorMpId" value="@priorAP.mtrc_period_id" />
                            <input type="hidden" id="priorBldgId" value="@priorAP.dsc_mtrc_lc_bldg_id" />
                            <input type="hidden" id="priorMpGoal" value="@priorAP.priorAPMetricGoalText" />
                            <input type="hidden" id="priorMpValue" value="@priorAP.priorAPMetricValue" />
                            <input type="hidden" id="priorApMonth" value="@priorAP.priorAPMonth" />
                            <input type="hidden" id="priorApYear" value="@priorAP.priorAPYear" />
                            <input type="button" class="btn btn-primary" id="btnPriorActionPlanDetail" style="" value="View Detail" />
                        </div>
                    </div>
                    <br />
                }
            }
            else
            {
                <div style="padding:15px">
                    <span>There are no action plans to display.</span>
                </div>
            }

        </div>
    </div>
</div>



