@model REDZONE.Models.MPReason

    <div class="row">

    </div>
    <span font-size:large; font-weight:bold"> </span>
    <span id="saveMessage" class="alert-success" style="display:none; font-size:large; font-weight:bold"> </span>
    @*<br />*@
    
    @Html.HiddenFor(model => model.metric_period_id, new { htmlAttributes = new { @id = "hdnMetricPeriodId" } })
    <div class="row add-reason-hide" style="margin-top:5px">
        <div class="col-md-4 col-sm-3">
            <div class="input-group">
                @Html.LabelFor(model => model.reason_id, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.reason_id, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", placeholder = "" } })
            </div>
        </div>
        <div class="col-md-4 col-sm-3">
            <div class="input-group">
                @Html.LabelFor(model => model.reason_created_on_dtm, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.reason_created_on_dtm, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", placeholder = "" } })
            </div>
        </div>
        <div class="col-md-4 col-sm-3">
            <div class="input-group">
                @Html.LabelFor(model => model.reason_created_by_uid, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.reason_created_by_uid, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", placeholder = "" } })
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:5px">
        <div class="col-md-4 col-sm-3">
            <div class="input-group">
                @Html.LabelFor(model => model.reason_text, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.reason_text, new { htmlAttributes = new { @class = "form-control editable-rsn-attr", disabled = "disabled", placeholder = "Enter Reason" } })
                @Html.HiddenFor(model => model.reason_text, new { htmlAttributes = new { @id = "hdnReasonText" } })
            </div>
        </div>
        <div class="col-md-4 col-sm-3">
            <div class="input-group add-reason-hide">
                @Html.LabelFor(model => model.reason_order, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.reason_order, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", placeholder = "" } })
            </div>
        </div>
        <div class="col-md-4 col-sm-3">
            <div class="input-group add-reason-hide">
                @Html.LabelFor(model => model.times_used, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.times_used, new { htmlAttributes = new { @class = "form-control", id = "timesUsed", disabled = "disabled", placeholder = "" } })
            </div>
        </div>
    </div>
    <div>

    </div>

    <div class="row" style="margin-top:5px">
        <div class="col-md-12 col-sm-9">
            <div class="input-group">
                @Html.LabelFor(model => model.reason_description, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.reason_description, new { htmlAttributes = new { @class = "form-control editable-rsn-attr", disabled = "disabled", placeholder = "Enter Description", style = "min-width:100%" } })
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:5px">
        <div class="col-md-4 col-sm-3">
            <div class="input-group">
                @Html.LabelFor(model => model.reason_std_yn, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.reason_std_yn, new { htmlAttributes = new { @class = "form-control editable-rsn-attr", disabled = "disabled", placeholder = "Y/N?"} })
            </div>
        </div>
        <div class="col-md-4 col-sm-3">
            <div class="input-group add-reason-hide">
                @Html.LabelFor(model => model.reason_stdized_on_dtm, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.reason_stdized_on_dtm, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", placeholder = "" } })
            </div>
        </div>
        <div class="col-md-4 col-sm-3">
            <div class="input-group add-reason-hide">
                @Html.LabelFor(model => model.reason_stdized_by_uid, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.reason_stdized_by_uid, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", placeholder = "" } })
            </div>
        </div>
    </div>

    <div>


    </div>

    <div class="row" style="margin-top:5px">
        <div class="col-md-3 col-sm-6">
            <div class="input-group">

            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="input-group">

            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            @*<div class="input-group">
                    @Html.LabelFor(model => model.mtrc_period_na_allow_yn, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                    @Html.EditorFor(model => model.mtrc_period_na_allow_yn, new { htmlAttributes = new { @class = "form-control", placeholder = "___" } })
                </div>*@
        </div>

        <div class="col-md-3 col-sm-6">
            @*<div class="input-group">
                    @Html.LabelFor(model => model.mtrc_period_max_str_size, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                        @Html.EditorFor(model => model.mtrc_period_max_str_size, new { htmlAttributes = new { @class = "form-control", placeholder = "__" } })
                </div>*@
        </div>
    </div>
    <div>
        @*@Html.ValidationMessageFor(model => model.mtrc_period_na_allow_yn, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(model => model.mtrc_period_can_import_yn, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(model => model.mtrc_period_is_auto_yn, "", new { @class = "text-danger" })*@
    </div>

    @*<hr class="save-metric-period" />
    <div class="row save-metric-period" style="text-align:left; margin-left:5px">
    </div>*@
    <br />
    <br />
    <div>

    </div>
