@model IEnumerable<REDZONE.Models.DSC_MTRC_LC_BLDG>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dsc_mtrc_lc_bldg_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dsc_mtrc_lc_bldg_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dsc_mtrc_lc_bldg_eff_start_dt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dsc_mtrc_lc_bldg_eff_end_dt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DSC_LC.dsc_lc_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dsc_mtrc_lc_bldg_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dsc_mtrc_lc_bldg_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dsc_mtrc_lc_bldg_eff_start_dt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dsc_mtrc_lc_bldg_eff_end_dt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DSC_LC.dsc_lc_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.dsc_mtrc_lc_bldg_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.dsc_mtrc_lc_bldg_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.dsc_mtrc_lc_bldg_id })
        </td>
    </tr>
}

</table>

<br />
<div style="color:blue">@Model.Count() Records Found</div>