@model REDZONE.Models.RZ_Metric
@{ ViewBag.Title = "Volume Metric"; }


<div class="row" style="text-align:center">
    <h2>@Model.metricDesc</h2>
</div>


<div class="row">
    <div class="col-sm-1 col-sm-offset-2" style="border:1px solid darkgray; padding:0">
        <input type="button" value="<<" style="float:left; width:100%" />
    </div>
    <div class="col-sm-6" style="border:1px solid darkgray; height:30px; text-align:center">
        @Model.period_Name
    </div>
    <div class="col-sm-1" style="border:1px solid darkgray; padding:0">
        <input type="button" value=">>" style="float:right; width:100%" />
    </div>
</div>

<div>


    <hr />
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.period_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.period_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.period_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.period_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metricType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metricType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metricDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metricDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metric_eff_start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metric_eff_start_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metric_eff_end_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metric_eff_end_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.na_allowed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.na_allowed)
        </dd>

    </dl>*@
</div>



<div class="row" @*style="text-align:center"*@>
    <table class="table table-bordered table-condensed table-hover table-responsive ">
        <tr>
            <th>Building Name</th>
            <th>Value</th>
            <th>Code</th>
        </tr>

        @foreach (REDZONE.Models.Building dscBldng in Model.buildingList)
        {
            <tr>
                <td>@dscBldng.buildingName</td>
                <td>@dscBldng.buildingValue</td>
                <td>@dscBldng.buildingCode</td>
            </tr>
        }
    </table>

</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
