@model REDZONE.Models.rzTable
@{
    int loopCounter = 1;
}
@*<script src="~/Scripts/BuildingSummary.js"></script>*@

<table class="bmSummary" style="width:100%;">
    <!-- ******* HEADERS/TITLES ROW (metricHeadingsRow) ********* -->
    <tr class="rowHeader">
        <td style="border-right:3px solid black; width:@Model.colWidths[0]">
            <span class="btnFlip" style="float:right">
                <span style="color: darkgray; font-size:12px">Switch Rows to Columns</span>
                <img style="margin-left:3px" src="~/Images/ChangeView.png" title="Pivot Table Data" />
            </span>
        </td>
        @foreach (var metricCellHdr in Model.metricHeadingsRow.rowDataColumns)
        {
            <td class="@metricCellHdr.displayClass" style="width:@Model.colWidths[loopCounter]">
                <a href="@metricCellHdr.cellURL" id="mName" title="Metric Owner: @metricCellHdr.cellOwner">
                    @metricCellHdr.cellDispValue
                </a>
            </td>
            loopCounter++;
        }
        <td style="width:@Model.colWidths[loopCounter]">
            <span> @Model.metricHeadingsRow.rowTotalsCell.cellDispValue</span>
            <button type="button" class="btn  btn-sm btnActionsRequired" style="padding:0px; padding-left:5px; background-color:transparent; color: darkgreen " title="Show Actions Required by Building Score">
                <span class="glyphicon glyphicon-question-sign" style="font-size:large;"></span>
            </button>
        </td>
    </tr>
    <!-- ******* GOALS ROW (goalHeadingsRow) ********* -->
    <tr class="goal-Schema">
        <td style="border-right:3px solid black;">
            <span> @Model.goalHeadingsRow.rowHeaderCell.cellDispValue</span>
        </td>
        @foreach (var metricGoalCellHdr in Model.goalHeadingsRow.rowDataColumns)
        {
            <td class="@metricGoalCellHdr.displayClass">
                <span id="mGoal">@HttpUtility.HtmlDecode(metricGoalCellHdr.cellDispValue)</span>
            </td>
        }
        <td>
            <span> @Model.goalHeadingsRow.rowTotalsCell.cellDispValue</span>
        </td>
    </tr>
    <!-- =============== Begin loop section One Row for Each Month ========================================= -->
    @foreach (REDZONE.Models.rzRow myRow in Model.dataRows)
    {
        <tr class="monthRow">
            <td style="border-right: 3px solid black;" title="@myRow.rowHeaderCell.caption">
                <input type="hidden" id="month-@myRow.rowOrder.ToString("00")" value="@myRow.rowHeaderCell.cellValue" />
                <span> @myRow.rowHeaderCell.cellDispValue</span>
                @if (@myRow.rowHeaderCell.cellStatus.Equals("Mixed") || @myRow.rowHeaderCell.cellStatus.Equals("Open"))
                {
                    <span style="color:red; font-weight:bold">*</span>
                }
            </td>

            @foreach (REDZONE.Models.rzCell valueCol in myRow.rowDataColumns)
            {
                <td id="@valueCol.cellMPVid" class="valueCell @valueCol.displayClass" title="Right Click any cell to Add/Edit Reasons and Action Plans @valueCol.caption">
                    @*<td id="@buildingCell.cellValueId"  >*@
                    <div class="mvCell @valueCol.apInfo.apDisplayClass">
                        <input type="hidden" id="mpId" value="@valueCol.cellMetricInfo.metricPeriodId" />
                        <input type="hidden" id="mDisplayClass" value="@valueCol.displayClass" />
                        <input type="hidden" id="colIndex" value="month-@Model.dataRows.FindIndex(x => x == myRow).ToString("00")" />
                        <input type="hidden" id="bamp_status" value="@valueCol.apInfo.rz_bapm_status" />
                        <input type="hidden" id="bapm_id" value="@valueCol.apInfo.rz_bapm_id" />
                        <input type="hidden" id="hasReasons" value="@valueCol.apInfo.apDisplayClass" />
                        <input type="hidden" id="periodStatus" value="@valueCol.cellStatus" />
                        @if (String.IsNullOrEmpty(@valueCol.cellDispValue))
                        { <br /> }
                        else
                        {
                            <span id="mValue">@valueCol.cellDispValue </span>
                        }
                    </div>
                </td>
            }
            <td class="@myRow.rowTotalsCell.displayClass">
                <span>@myRow.rowTotalsCell.cellDispValue</span>
            </td>
        </tr>
    }
    <!-- =============== End of loop section with One Row for Each Month ========================================= -->
    <!-- ******* 'GOALS MISSED' ROW (goalsMissedRow) ********* -->
    <tr class="totalsRow">
        <td style="border-right:3px solid black;">
            <span> @Model.goalsMissedRow.rowHeaderCell.cellDispValue</span>
        </td>
        @foreach (var gmCell in Model.goalsMissedRow.rowDataColumns)
        {
            <td class="@gmCell.displayClass">
                <span>
                    @gmCell.cellDispValue
                </span>
            </td>
        }
        <td>
            <span> @Model.goalsMissedRow.rowTotalsCell.cellDispValue</span>
        </td>
    </tr>
</table>


