@model REDZONE.Models.BuildingSummaryViewModel

@{
    ViewBag.Title = "Building Summary";
}

<link href="~/Content/RedZoneApp.css" rel="stylesheet" />

<div class="row" style="font-family:Arial; margin-top: 5px">
    <div class="col-md-10 " style="margin-left:15px; padding:0;">
        <div class="panel panel-default" style="margin-bottom:0px; ">
            <div class="panel-heading" style="text-align:center; padding: 0px 15px; ">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row ">
                            <span style="font-size:x-large; font-weight:bold; color:darkblue">Building Summary</span>
                        </div>
                        <div class="row" style="margin-bottom:10px">
                            <div class="input-group col-sm-10 col-sm-offset-1" style="padding:0px; ">
                                <span class="input-group-btn">
                                    <button id="btn-lastmonth" type="button" class="btn btn-primary" style="float:right; width:60px" onclick="location.href='@Model.urlPrevPeriod'" title="Navigate to Previous Building" @Model.statusPrevPeriod>
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </button>
                                </span>
                                <input type="text" class="form-control" value="@Model.bName" readonly="readonly" style="min-width:100%; text-align:center; font-weight:bold; font-size:x-large; padding:0px">
                                <span class="input-group-btn">
                                    <button id="btn-nextmonth" type="button" class="btn btn-primary" style="float:right; width:60px" onclick="location.href='@Model.urlNextPeriod'" title="Navigate to Next Building" @Model.statusNextPeriod>
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row headerRow">
                    <div class="col-sm-2 buildingCol" style="text-align:center">
                        <span style="font-weight:bold"> @Model.year</span>
                    </div>
                    @foreach (REDZONE.Models.MeasuredCellEntity dscBldng in Model.buildingScore.entityMetricCells)
                    {
                        <div class="col-sm-2 buildingCol" style="text-align:center">
                            @dscBldng.metricName
                        </div>
                    }
                    <!-- End of DIV Table Table -->
                </div>

                @foreach (var buildingRow in Model.metricRows)
                {
                  <div class="row buildingRow">
                      <div class="col-sm-1 buildingCol" style="text-align:center; background-color: white">
                          @buildingRow.rowName
                      </div>                      
                    @foreach (REDZONE.Models.MeasuredCellEntity buildingCell in buildingRow.entityMetricCells)
                    {
                       <div class="col-sm-1 buildingCol" style="text-align:center; background-color: white">
                            @buildingCell.metricValue
                       </div>
                    }
                  </div>
                }
            </div>
        </div>
    </div>
</div>
