@model REDZONE.Models.BuildingSummaryViewModel

@{
    ViewBag.Title = "Building Summary";
    int colCounter = 0;
}
<link href="~/Content/RedZoneApp.css" rel="stylesheet" />

<style>
    .valueCell {
        font-weight: bold;
        /*font-size:medium;*/
        padding-top:5px;
        padding-bottom:5px;
    }
    .bordered   { border: 1px solid black; }
    .bordered-r { border: 1px solid red; }
    .bordered-b { border: 1px solid blue; }
    .bordered-2r { border: 4px solid black; border-radius: 5px; }
    .actions-th {
        border:2px solid black;
        border-radius: 5px;
        font-weight:bold;
        font-size:large; 
        margin: 0px 10px;
        padding:5px;
    }
</style>
<div class="row" style="font-family:Arial; margin-top: 5px">
   <div class="panel panel-default" style="margin-bottom:0px; ">
      <div class="panel-heading" style="text-align:center; padding: 0px 15px; ">
          <div class="row">
              <div class="col-sm-12">
                  <div class="row ">
                            <div class="col-xs-1 ">
                                <a href="/Home/Index"><img src="~/Images/BackToDashboard.png" width="80" height="35" style="float: right" /></a>
                            </div>
                            <div class="col-xs-10">
                                <span style="font-size:x-large; font-weight:bold; color:darkblue">Building Summary</span>
                            </div>
                            <div class="col-xs-1">                                
                                @*<input type="image" src="~/Images/BackToDashboard.png" width="80" height="35" style="float:right" onclick="javascript:location('/Home/Index')">*@
                            </div>
                        </div>
                  <div class="row" style="margin-bottom:3px">
                            <div class="input-group col-sm-10 col-sm-offset-1" style="padding:0px; ">
                                <span class="input-group-btn">
                                    <button id="btn-lastmonth" type="button" class="btn btn-primary" style="float:right; width:60px" onclick="location.href='@Model.urlPrevBuilding'" title="Navigate to Previous Building" @Model.statusPrevBuilding>
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </button>
                                </span>
                                <input type="text" class="form-control" value="@Model.bName" readonly="readonly" style="min-width:100%; text-align:center; font-weight:bold; font-size:x-large; padding:0px">
                                <span class="input-group-btn">
                                    <button id="btn-nextmonth" type="button" class="btn btn-primary" style="float:right; width:60px" onclick="location.href='@Model.urlNextBuilding'" title="Navigate to Next Building" @Model.statusNextBuilding>
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </button>
                                </span>
                            </div>
                        </div>@* <----------- Navigation Field by Building*@
                  <div class="row" style="margin-bottom:10px; padding:0px;">
                            <div class="input-group col-sm-10 col-sm-offset-1" style="padding:0px;">
                                <span class="input-group-btn" style="padding:0px;">
                                    <button id="btn-lastmonth" type="button" class="btn btn-primary" style="float:right; width:60px;" onclick="location.href='@Model.urlPrevPeriod'" title="Navigate to Previous Building" @Model.statusPrevPeriod>
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </button>
                                </span>
                                @*<span style="min-width:100%; text-align:center; vertical-align:middle; font-size:large; padding:0px">Period: @Model.year</span>*@
                                <input type="text" class="form-control" value="@Model.year" readonly="readonly" style="min-width:100%; text-align:center; font-weight:bold; font-size:large; padding:0px">
                                <span class="input-group-btn">
                                    <button id="btn-nextmonth" type="button" class="btn btn-primary" style="float:right; width:60px;" onclick="location.href='@Model.urlNextPeriod'" title="Navigate to Next Building" @Model.statusNextPeriod>
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </button>
                                </span>
                            </div>
                        </div>@* <----------- Navigation Field by Year *@
              </div>
          </div>
      </div> <!-- END OF PANEL HEADER -->
      <div class="panel-body" style="margin:2px; padding:5px; background-color: #fefefe">
          <div class="row" style="border:1px solid lightgray; border-radius: 5px; margin: 0; padding:0; ">
                    <table class="" style="width:100%;">
                        <tr class="rowHeader">
                            <td class="buildingCol" style="width:16.66%">
                                <span style="font-weight:bold"> @Model.buildingHeadings.rowName</span>
                            </td>
                            <td class="buildingCol" style="width:8.33%; background-color: #bbedff">
                                Goal
                            </td>
                            @foreach (REDZONE.Models.MeasuredCellEntity dscBldngHdr in @Model.buildingHeadings.entityMetricCells)
                            {
                                if (dscBldngHdr.isViewable)
                                {
                                    <td class="buildingCol" style="width:@Model.metricColWidth">
                                        @dscBldngHdr.metricName
                                    </td>
                                }
                            }
                            <td class="buildingCol" style="width:8.33%;">
                                Goals Not Met
                            </td>
                        </tr>

                     @foreach (var buildingRow in Model.metricRows)
                     {
                        colCounter = 0;
                        <tr class="buildingRow">
                                <td class="buildingCol" style="width:16.66%">
                                    <a href="@buildingRow.rowURL">@buildingRow.rowName</a>
                                </td> <!-- Metric Name Column -->
                                <td class="buildingCol" style="width:8.33%; background-color: #bbedff">
                                    @buildingRow.scoreGoal
                                </td> <!-- Goal Column -->
                                @foreach (REDZONE.Models.MeasuredCellEntity buildingCell in buildingRow.entityMetricCells)
                                {
                                    bool cellIsViewable = Model.buildingHeadings.entityMetricCells[colCounter].isViewable;
                                    if (cellIsViewable)
                                    {
                                        <td class="buildingCol valueCell" style="background-color:@buildingCell.metricColor; width:@Model.metricColWidth">
                                            @*@Model.metricColWidth*@
                                            @if (String.IsNullOrEmpty(@buildingCell.metricValue))
                                            { <br /> }
                                            else
                                            { @buildingCell.metricValue }
                                        </td>
                                    }
                                    colCounter++;
                                }
                                <td class="buildingCol scoreCol" style="width:8.33%;">
                                    @buildingRow.redTotals
                                </td>
                            </tr>
                     }  @*  <------- End of BuildingRow Rows Section ---- *@

                        <tr class="buildingRow totalsRow" >
                            <td class="buildingCol " style="width:16.66%">
                                @*@Model.buildingScoreRow.rowName*@
                                Building Score
                            </td><!-- Metric Name Column -->
                            <td class="buildingCol " style="width:8.33%; ">
                                <br />
                            </td><!-- Goal Column -->
                          @foreach (REDZONE.Models.MeasuredCellEntity buildingCell in Model.buildingScoreRow.entityMetricCells)
                          {
                            if (buildingCell.isViewable)
                            {
                              <td class="buildingCol" style="background-color:@buildingCell.metricColor; width:@Model.metricColWidth">
                                 @if (String.IsNullOrEmpty(@buildingCell.metricValue))
                                 { <br /> }
                                 else
                                 { @buildingCell.metricValue }
                              </td>
                            }
                          }
                            <td class="buildingCol scoreCol" style="width:8.33%;">
                                <br />
                            </td>
                        </tr> <!-- End of Total Goals Missed Data Section -->



                        <tr class="buildingRow totalsRow">  <!-- ACTIONS ROW   -->
                            <td class="buildingCol " style="width:16.66%">
                                <br />
                            </td>
                            <td class="buildingCol " style="width:8.33%; ">
                                <br />
                            </td><!-- Goal Column -->
                        @{colCounter = 0;}
                            @foreach (REDZONE.Models.MeasuredCellEntity actionCell in Model.buildingActionsRow.entityMetricCells)
                            {
                                bool cellIsViewable = Model.buildingHeadings.entityMetricCells[colCounter].isViewable;
                                if (cellIsViewable)
                                {
                                    <td class="buildingCol valueCell" style="background-color:@actionCell.metricColor; width:@Model.metricColWidth">
                                        @if (String.IsNullOrEmpty(@actionCell.metricValue) || Model.buildingScoreRow.entityMetricCells[colCounter].score < 3)
                                        { <br /> }
                                        else
                                        {
                                            <a href="@actionCell.cellValueURL" style="color:red; ">@actionCell.metricValue</a>
                                        }
                                    </td>
                                }
                                colCounter++;
                            }
                            <td class="buildingCol scoreCol" style="width:8.33%;">
                                <br />
                            </td>
                        </tr> <!-- End of Actions Row -->


                    </table>
          </div> <!-- End of DIV Table Table -->

          <div class="row" style="margin:10px 0px;" >
             <div class="col-sm-5 " >
                 <div class="row actions-th" style="background-color:#f5f5f5" >
                     Actions Required by Building Score
                 </div>
                 <div class="row" style="margin: 8px 10px 0px 10px; ">
                     <table class="table-bordered" style="margin:0;">
                         <tr >
                             <td style="background-color:yellow; font-weight:bold; font-size:x-large; padding:10px; vertical-align:middle; width:25%;">3 Red</td>
                             <td style="text-align: left; padding-left:15px;">
                                <span style="">Action Plan form required on individual red metrics from the Building Lead (click actionable link)</span>
                             </td>
                         </tr>
                         <tr>
                             <td style="background-color:orange; font-weight:bold; font-size:x-large; padding:10px; vertical-align:middle; width:25%;">4 Red</td>
                             <td style="text-align: left; padding-left:15px;">
                                 <span style="">Above plus, monthly group meetings required led by appropiate Corporate Resource for each red metric (See schedule)</span>
                             </td>
                         </tr>
                         <tr>
                             <td style="background-color:#ffbb8b; font-weight:bold; font-size:x-large; padding:10px; vertical-align:middle; width:25%;">5+ Red</td>
                             <td style="text-align: left; padding-left:15px;">
                                 <span style="">Above Plus, LC Review at Supply Chain Council</span>
                             </td>
                         </tr>
                     </table>
                 </div>
             </div>
             <div class="col-sm-7" >
                  <div class="row actions-th" style="background-color:#f5f5f5">
                      Meeting Date and Times
                  </div>
                  <div class="row" style="margin: 8px 10px 0px 10px; ">
                      <table class="bordered table-bordered" style="margin:0; width:100%;">
                          <thead>
                              <tr>
                                  <th style="text-align:center; width:20%">Metric</th>
                                  <th style="text-align:center; width:20%">Corporate Resource</th>
                                  <th style="text-align:center; width:20%">Meeting Date</th>
                                  <th style="text-align:center; width:40%">Meeting Time</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr style="padding:0">
                                  <td style="width:20%">POP/Net FTE</td>
                                  <td style="width:20%">-Undefined-</td>
                                  <td style="width:20%">08/15/2016</td>
                                  <td style="width:40%">10:00 AM</td>
                              </tr>
                              <tr class="bordered-r">
                                  <td>Turnover</td>
                                  <td>Mona Mounts</td>
                                  <td>08/14/2016</td>
                                  <td>10:00 AM</td>
                              </tr>
                              <tr>
                                  <td>OT</td>
                                  <td>Christina Dempsey</td>
                                  <td>08/12/2016</td>
                                  <td>10:00 AM</td>
                              </tr>
                              <tr>
                                  <td>Trainees</td>
                                  <td>Mona MOunts</td>
                                  <td>08/14/2016</td>
                                  <td>10:00 AM</td>
                              </tr>
                              <tr>
                                  <td>Safety</td>
                                  <td>Joe Smiesko</td>
                                  <td>08/19/2016</td>
                                  <td>10:00 AM</td>
                              </tr>
                              <tr>
                                  <td>IT Tickets</td>
                                  <td>Pete Kuranchie</td>
                                  <td>08/18/2016</td>
                                  <td>10:00 AM</td>
                              </tr>
                              <tr>
                                  <td>Financial</td>
                                  <td>Steve Pignataro</td>
                                  <td>N/A</td>
                                  <td>N/A</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>              
          </div> <!-- END OF ACTIONS AND MEETING SCHEDULE PANEL -->
      </div> <!-- END OF PANEL BODY -->
   </div><!-- END OF PANEL -->
</div> <!-- ROW END -->


<script>
    $(document).ready(function () {
        $(".menuItem").removeClass("menuSelected");
        //$(".menuItem").addClass("menuUnselected");
        $("#mDashboard").addClass("menuSelected");
    });
</script>
