@model REDZONE.Models.BuildingSummaryViewModel
@{
    ViewBag.Title = "Building Summary";
    int colCounter = 0;
}
<link href="~/Content/RedZoneApp.css" rel="stylesheet" />
<link href="~/Content/BuildingSummary.css" rel="stylesheet" />
<script src="~/Scripts/BuildingSummary.js"></script>

<div class="row" style="font-family:Arial; margin-top: 5px">
    <div>
        <input type="hidden" id="buildingName" value="@Model.bName"/>
        <input type="hidden" id="buildingYear" value="@Model.year" />
        <input type="hidden" id="buildingId" value="@Model.bId" />
    </div>
    <div class="panel panel-default" style="margin-bottom:0px; ">
        <div class="panel-heading" style="text-align:center; padding: 0px 15px; ">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row ">
                        <div class="col-xs-1">
                            <a href="/Home/Index"><img src="~/Images/BackToDashboard.png" width="80" height="35" style="float: right" /></a>
                        </div>
                        <div class="col-xs-10">
                            <span style="font-size:x-large; font-weight:bold; color:darkblue">Building Summary</span>
                        </div>
                        <div class="col-xs-1">
                            @*<input type="image" src="~/Images/BackToDashboard.png" width="80" height="35" style="float:right" onclick="javascript:location('/Home/Index')">*@
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:3px">
                        <div class="input-group col-sm-10 col-sm-offset-1" style="padding:0px; ">
                            <span class="input-group-btn">
                                <button id="btn-lastmonth" type="button" class="btn btn-primary" style="float:right; width:60px" onclick="location.href='@Model.urlPrevBuilding'" title="Navigate to Previous Building" @Model.statusPrevBuilding>
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </button>
                            </span>
                            <input type="text" class="form-control" value="@Model.bName" readonly="readonly" style="min-width:100%; text-align:center; font-weight:bold; font-size:x-large; padding:0px">
                            <span class="input-group-btn">
                                <button id="btn-nextmonth" type="button" class="btn btn-primary" style="float:right; width:60px" onclick="location.href='@Model.urlNextBuilding'" title="Navigate to Next Building" @Model.statusNextBuilding>
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </button>
                            </span>
                        </div>
                    </div>@* <----------- Navigation Field by Building*@
                    <div class="row" style="margin-bottom:10px; padding:0px;">
                        <div class="input-group col-sm-10 col-sm-offset-1" style="padding:0px;">
                            <span class="input-group-btn" style="padding:0px;">
                                <button id="btn-lastmonth" type="button" class="btn btn-primary" style="float:right; width:60px;" onclick="location.href='@Model.urlPrevPeriod'" title="Navigate to Previous Building" @Model.statusPrevPeriod>
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </button>
                            </span>
                            @*<span style="min-width:100%; text-align:center; vertical-align:middle; font-size:large; padding:0px">Period: @Model.year</span>*@
                            <input type="text" class="form-control" value="@Model.year" readonly="readonly" style="min-width:100%; text-align:center; font-weight:bold; font-size:large; padding:0px">
                            <span class="input-group-btn">
                                <button id="btn-nextmonth" type="button" class="btn btn-primary" style="float:right; width:60px;" onclick="location.href='@Model.urlNextPeriod'" title="Navigate to Next Building" @Model.statusNextPeriod>
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </button>
                            </span>
                        </div>
                    </div>@* <----------- Navigation Field by Year *@
                </div>
            </div>
        </div> <!-- END OF PANEL HEADER -->
        <div class="panel-body" style="margin:2px; padding:5px; background-color: #fefefe">
        @if (Model.isModelValid) { 
            <div class="row" style="border:1px solid lightgray; border-radius: 5px; margin: 0; padding:0; ">
                <table class="" style="width:100%;">
                    <tr class="rowHeader">
                        <!-- HEADERS/TITLES ROW -->
                        <td class="buildingCol" style="width:16.66%">
                            <span style="font-weight:bold"> @Model.buildingHeadings.rowName</span>
                        </td>
                        <td class="buildingCol" style="width:8.33%; background-color: #bbedff">
                            Goal
                        </td>
                    @{colCounter = 0;}
                        @foreach (REDZONE.Models.MeasuredCellEntity dscBldngHdr in @Model.buildingHeadings.entityMetricCells)
                        {
                            if (dscBldngHdr.isViewable)
                            {
                                <td class="buildingCol" style="width:@Model.metricColWidth">
                                    <input type="hidden" id="month-@colCounter.ToString("00")" value="@dscBldngHdr.metricMonth" />
                                    @dscBldngHdr.metricName
                                    @if (@dscBldngHdr.cellStatus.Equals("Mixed") || @dscBldngHdr.cellStatus.Equals("Open"))
                                    {
                                        <span style="color:red">*</span>
                                    }
                                </td>
                            }
                            colCounter++;
                        }
                        <td class="buildingCol" style="width:8.33%;">
                            Goals Missed
                        </td>
                    </tr>  <!-- END OF HEADERS/TITLES ROW -->
                    <!-- ======== Begin loop sections of Building Metric Rows======== -->
                    @foreach (var buildingRow in Model.metricRows)
                    {
                        colCounter = 0;
                        <tr class="buildingRow">
                            <td class="buildingCol" style="width:16.66%">
                                <a href="@buildingRow.rowURL" id="mName">@buildingRow.rowName</a>
                            </td> <!-- Metric Name Column -->
                            <td class="buildingCol" style="width:8.33%; background-color: #bbedff; color:blue; font-weight:bold;">
                                <span id="mGoal">@buildingRow.scoreGoal</span>
                            </td> <!-- Goal Column -->
                            @foreach (REDZONE.Models.MeasuredCellEntity buildingCell in buildingRow.entityMetricCells)
                            {
                                bool cellIsViewable = Model.buildingHeadings.entityMetricCells[colCounter].isViewable;
                                if (cellIsViewable)
                                {
                                    <td id="@buildingCell.cellValueId" class="buildingCol valueCell @buildingCell.displayClass" style="width:@Model.metricColWidth" title="MPid=@buildingCell.mtrc_period_id MPvalId=@buildingCell.cellValueId">
                                        <input type="hidden" id="mpId" value="@buildingCell.mtrc_period_id" />
                                        <input type="hidden" id="mDisplayClass" value="@buildingCell.displayClass" />
                                        <input type="hidden" id="colIndex" value="month-@colCounter.ToString("00")" />
                                        @*@Model.metricColWidth*@
                                        @if (String.IsNullOrEmpty(@buildingCell.metricValue))
                                        { <br /> }
                                        else
                                        { <span id="mValue">@buildingCell.metricValue</span> }
                                    </td>
                                }
                                colCounter++;
                            }
                            <td class="buildingCol scoreCol @buildingRow.displayClass" style="width:8.33%; color:black; font-weight:bold">
                                @buildingRow.redTotals
                            </td>
                        </tr>
                    }  @*  <------- End of BuildingRow Rows Section ---- *@

                    <tr class="buildingRow totalsRow">
                        <td class="buildingCol " style="width:16.66%">
                            @*@Model.buildingScoreRow.rowName*@
                            Building Score
                        </td><!-- Metric Name Column -->
                        <td class="buildingCol " style="width:8.33%; ">
                            <br />
                        </td><!-- Goal Column -->
                        @foreach (REDZONE.Models.MeasuredCellEntity buildingCell in Model.buildingScoreRow.entityMetricCells)
                        {
                            if (buildingCell.isViewable)
                            {
                                <td class="buildingCol @buildingCell.displayClass" style="width:@Model.metricColWidth">
                                    @if (String.IsNullOrEmpty(@buildingCell.metricValue))
                                    { <br /> }
                                    else
                                    { @buildingCell.metricValue }
                                </td>
                            }
                        }
                        <td class="buildingCol scoreCol" style="width:8.33%;">
                            <br />
                        </td>
                    </tr> <!-- End of Total Goals Missed Data Section -->

                </table>
            </div> <!-- End of DIV Table Table -->
            
            <div class="row" style="border:none; margin: 0; padding:0; ">
                <table class="" style="border:none; width:100%;">
                    <tr class="" style="border:none">
                        <!-- ACTIONS ROW   -->
                        <td class=" " style="width:16.66%; border:none">
                            <br />
                        </td>
                        <td class="" style="width:8.33%; border:none">
                            <br />
                        </td>
                        @{colCounter = 0;}
                        @foreach (REDZONE.Models.MeasuredCellEntity actionCell in Model.buildingActionsRow.entityMetricCells)
                    {
                        bool cellIsViewable = Model.buildingHeadings.entityMetricCells[colCounter].isViewable;
                        if (cellIsViewable)
                        {
                            <td class="" style="border:none; width:@Model.metricColWidth">
                                @*@if (String.IsNullOrEmpty(@actionCell.metricValue) || Model.buildingScoreRow.entityMetricCells[colCounter].score < 3 )*@
                                @if (String.IsNullOrEmpty(@actionCell.metricValue) || !actionCell.isViewable || Model.buildingScoreRow.entityMetricCells[colCounter].score < 3)
                                { <br /> }
                                else
                                {
                                    @*<a href="@actionCell.cellValueURL" style="color:red; ">@actionCell.metricValue</a>*@
                                    <a href="@actionCell.cellValueURL" target="_blank" style="color:red;" title="Click to open Google Action Form on a new Browser Tab">Action Required<br />[ Click Here ]</a>
                                    <br />
                                    @*<text>Total Closed: @actionCell.score</text>*@
                                }
                            </td>
                        }
                        colCounter++;
                    }
                        <td class="" style="width:8.33%; border:none">
                            <br />
                        </td>
                    </tr> <!-- ACTIONS ROW END -->
                </table>
            </div> <!-- End of Actions Row -->
            <div class="row" style="border:none; margin: 0; padding:0; text-align:left">
                <span style="color:red; margin-left:5px">*</span><span style="font-weight:bold"> Metrics for this month have not been finalized</span>
                <br /><br />
            </div>
            <!-- ***************************** PAGE DATA AND CALENDAR SECTION *********************************************  -->
            <div class="row" style="margin:10px 0px;">
                <div class="col-sm-5 ">
                    <div class="row actions-th" style="background-color:#f5f5f5">
                        Actions Required by Building Score
                    </div>
                    <div class="row" style="margin: 8px 10px 0px 10px; ">
                        <table class="table-bordered" style="margin:0;">
                            <tr>
                                <td style="background-color:#f9f97f; font-weight:bold; font-size:x-large; padding:10px; vertical-align:middle; width:25%;">3 Red</td>
                                <td style="text-align: left; padding-left:15px;">
                                    <span style="">Action Plan form required on individual red metrics from the Building Lead (click actionable link)</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color:#fcb55a; font-weight:bold; font-size:x-large; padding:10px; vertical-align:middle; width:25%;">4 Red</td>
                                <td style="text-align: left; padding-left:15px;">
                                    <span style="">Above plus, monthly group meetings required led by appropiate Corporate Resource for each red metric (See schedule)</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color:#f75643; font-weight:bold; font-size:x-large; padding:10px; vertical-align:middle; width:25%;">5+ Red</td>
                                <td style="text-align: left; padding-left:15px;">
                                    <span style="">Above Plus, LC Review at Supply Chain Council</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="row actions-th" style="background-color:#f5f5f5">
                        Meeting Date and Times
                    </div>
                    <div class="row" style="margin: 8px 10px 0px 10px; ">
                        <table class="bordered table-bordered" style="margin:0; width:100%;">
                            <thead>
                                <tr>
                                    <th style="text-align:center; width:20%">Metric</th>
                                    <th style="text-align:center; width:20%">Corporate Resource</th>
                                    <th style="text-align:center; width:20%">Meeting Date</th>
                                    <th style="text-align:center; width:40%">Meeting Time (CST)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="padding:0">
                                    <td style="width:20%">POP/Net FTE</td>
                                    <td style="width:20%">Christina Dempsey</td>
                                    <td style="width:20%">@*08/15/2016*@</td>
                                    <td style="width:40%">@*10:00 AM*@</td>
                                </tr>
                                <tr class="bordered-r">
                                    <td>Turnover</td>
                                    <td>Mona Mounts</td>
                                    <td>@*08/14/2016*@</td>
                                    <td>@*10:00 AM*@</td>
                                </tr>
                                <tr>
                                    <td>OT</td>
                                    <td>Christina Dempsey</td>
                                    <td>@*08/12/2016*@</td>
                                    <td>@*10:00 AM*@</td>
                                </tr>
                                <tr>
                                    <td>Trainees</td>
                                    <td>Mona Mounts</td>
                                    <td>@*08/14/2016*@</td>
                                    <td>@*10:00 AM*@</td>
                                </tr>
                                <tr>
                                    <td>Safety</td>
                                    <td>Joe Smiesko</td>
                                    <td>@*08/19/2016*@</td>
                                    <td>@*10:00 AM*@</td>
                                </tr>
                                <tr>
                                    <td>IT Tickets</td>
                                    <td>Pete Kuranchie</td>
                                    <td>@*08/18/2016*@</td>
                                    <td>@*10:00 AM*@</td>
                                </tr>
                                <tr>
                                    <td>Financial</td>
                                    <td>Steve Pignataro</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- END OF ACTIONS AND MEETING SCHEDULE PANEL -->
        }
        else
        {
            <div class="row" style="color:red; font-weight:bold; font-size:18px">
                <span>There is no Building data to display.</span><br />
                <span>Please go back to review your input and select a valid building.</span>
            </div>
        }
        </div> <!-- END OF PANEL BODY -->
    </div><!-- END OF PANEL -->
</div> <!-- ROW END -->

<!-- START OF RIGHT CLICK CONTEXT MENU -->
<nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="View">
                <i class="fa fa-eye"></i> View Reasons
            </a>
        </li>
        <li class="context-menu__item" >
            <a href="#" class="context-menu__link" data-action="Manage" >
                <i class="fa fa-edit"></i>  Manage Reasons
            </a>
        </li>
        @*<li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Menu3">
                <i class="fa fa-times"></i>  Menu Item 3
            </a>
        </li>*@
    </ul>
</nav>  <!-- END OF RIGHT CLICK CONTEXT MENU -->


<!-- START OF RIGHT CLICK POPUP REASONS DISPLAY  -->
<div id="popupViewReasons" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:40%; min-width:550px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title add-reason">Reasons for Selected Building Metric Value</h4>
            </div>
            <div class="modal-body" id="reasonEditBody">
                <div class="row" id="reasonsViewContainer" style="width:70%; margin:0 auto; margin-top:10px; margin-bottom:10px; border: 4px double black; border-radius:6px; padding:20px">

                    <div>
                        <br />PLEASE WAIT WHILE DATA LOADS<br /><br />
                        <img src="/Images/ui-anim_basic_16x16.gif" />
                        <br /><br />
                    </div>

                </div>
            </div>
            <div class="modal-footer" id="reasonEditFooter" style="text-align:center">
                <button type="button" class="btn btn-primary" id="btnCancelReasonEdit" data-dismiss="modal" style="width:120px">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- END OF RIGHT CLICK POPUP REASONS DISPLAY  -->
