@model REDZONE.Models.ExecutiveSummaryViewModel

@{
    ViewBag.Title = "Executive Monthly Summary";
}

<style>
    .headerRow {
        padding: 0px;        
        width: 98%;
        margin:0px 0px 0px 1px;
        border-bottom: 1px solid gray;
        background-color: #fcfcfc;
        display: flex;
        flex-wrap: wrap;
        min-width:100%;
        font-weight: bold;
    }
    .headerRow > div[class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .buildingRow {
        padding: 0;
        border-bottom: 1px solid #f1f1f1;
        width: 98%;
        margin-left: 1px;
        min-width:100%
    }
    .buildingRow:hover {
        background-color: #f1f1f1;
    }

    .buildingCol {
        border-right: 1px dashed #f1f1f1; /*#f1f1f1*/
        text-align: center;
        padding: 3px;
    }
    .scoreCol {
        border-left:1px solid black;
    }
    /*.headerCol {
        border: 1px solid red;
    }*/
</style>


<br />
<div class="row" style="font-family:Arial; margin-top: 5px">
    @*<div class="col-sm-1"></div>*@
    <div class="col-md-10 " style="margin-left:15px; padding:0;">
        <div class="panel panel-default" style="margin-bottom:0px; ">
            <div class="panel-heading" style="text-align:center; padding: 0px 15px; ">
                <div class="row">
                        <div class="row ">
                            <span style="font-size:x-large; font-weight:bold; color:darkblue">Executive Monthly Summary</span>
                        </div>
                        <div class="row" style="margin-bottom:10px">
                            <div class="input-group col-sm-10 col-sm-offset-1" style="padding:0px; ">
                                <span class="input-group-btn">
                                    <button id="btn-lastmonth" type="button" class="btn btn-primary" style="float:right; width:60px" onclick="location.href='@Model.urlPrevMonth'" title="Navigate to Previous Month" @Model.statusPrevMonth>
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </button>
                                </span>
                                <input type="text" class="form-control" value="@Model.month @Model.year" readonly="readonly" style="min-width:100%; text-align:center; font-weight:bold; font-size:x-large; padding:0px">
                                <span class="input-group-btn">
                                    <button id="btn-nextmonth" type="button" class="btn btn-primary" style="float:right; width:60px" onclick="location.href='@Model.urlNextMonth'" title="Navigate to Next Month" @Model.statusNextMonth>
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                </div>
            </div>
            <div class="panel-body" style="margin:2px; padding:5px">
                <div class="row" style="border:1px solid lightgray; border-radius: 5px; margin: 0; padding:0; ">
                    <!-- Table -->
                    <!-- ROWS -->
                    <div class="row headerRow row-eq-height" >
                        <div class="col-sm-2 buildingCol headerCol" >
                            <span style="font-weight:bold"> @Model.month @Model.year</span>
                        </div>
                        @foreach (string m in Model.allMetrics)
                        {
                            <div class="col-sm-1 buildingCol headerCol">
                                @m
                            </div>
                        }
                        <div class="col-sm-1 buildingCol headerCol scoreCol">
                            Score
                        </div>
                    </div><!-- TITLES ROWS -->

                    <div class="row buildingRow" style="background-color: aqua">
                        <div class="col-sm-2 buildingCol" style="text-align:center; ">
                            @Model.goal.BuildingName
                        </div>
                        @foreach (REDZONE.Models.MeasuredMetric bldngMV in Model.goal.entityMetrics)
                        {
                            <div class="col-sm-1 buildingCol" style="background-color:@bldngMV.metricColor">
                                @bldngMV.metricValue
                            </div>
                        }
                        <div class="col-sm-1 buildingCol scoreCol" style="background-color:@Model.goal.scoreColor">
                            @if (String.IsNullOrEmpty(@Model.goal.score))
                            { <br /> }
                            else
                            { @Model.goal.score }
                        </div>
                    </div><!-- GOAL ROWS -->

                    @foreach (REDZONE.Models.BuildingMetricEntity dscBldng in Model.buildings)
                    {                        
                        <div class="row buildingRow">
                            <div class="col-sm-2 buildingCol" style="text-align:center">
                                @dscBldng.BuildingName
                            </div>
                            @foreach (REDZONE.Models.MeasuredMetric bldngMV in dscBldng.entityMetrics)
                            {
                                <div class="col-sm-1 buildingCol" style="background-color:@bldngMV.metricColor">
                                    @if (String.IsNullOrEmpty(@bldngMV.metricValue)) { <br/> }
                                    else { @bldngMV.metricValue }
                                </div>
                            }
                            <div class="col-sm-1 buildingCol scoreCol" style="background-color:@dscBldng.scoreColor">
                                @if (String.IsNullOrEmpty(@dscBldng.score))
                                { <br /> }
                                else
                                { @dscBldng.score }
                            </div>
                        </div><!-- GOAL ROWS -->
                    }
                </div> <!-- End of DIV Table Table -->
            </div>
        </div>
    </div>
</div>
