@model REDZONE.Models.ExecutiveSummaryViewModel

@{
    ViewBag.Title = "Executive Monthly Summary";
}
<!-- Calculate the actual width of each column (72% / Number of metrics in the View) -->
@{
    double colWidth = .72 / Model.allMetrics.Count;
    string strColWidth = colWidth.ToString("00.00%");
    string btnClassBldng = (ViewData["bntClassB"] == null) ? "" : ViewData["bntClassB"].ToString();
    string btnClassScore = (ViewData["bntClassS"] == null) ? "" : ViewData["bntClassS"].ToString();
}


<link href="~/Content/RedZoneApp.css" rel="stylesheet" />
<style>
    .scroll-Table {
        font-weight: bold;
        font-size: small;
        text-align: center;
        width: 99%;
    }

    .scroll-Head {
        padding: 0px;
        background-color: #f0eaea;
    }

    .scroll-Body {
        padding: 0px;
        height: 560px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .IEScroll{
        width:17px;
    }
    .notIEScroll{
        /*width:22px;*/
        width:17px;
    }

</style>
<div class="row" style="font-family:Arial; margin-top: 5px; ">  <!-- MAIN SCREEN PANEL -->
    <div class="panel panel-default" style="margin-bottom:0px; ">
        <div class="panel-heading" style="text-align:center; padding: 0px 15px; ">
            <div class="row">
                <div class="row ">
                    <span style="font-size:x-large; font-weight:bold; color:darkblue">Executive Monthly Summary</span>
                </div>
                <div class="row" style="margin-bottom:10px">
                    <div class="input-group col-sm-10 col-sm-offset-1" style="padding:0px; ">
                        <span class="input-group-btn">
                            <button id="btn-lastmonth" type="button" class="btn btn-primary" style="float:right; width:60px" onclick="location.href='@Model.urlPrevMonth'" title="Navigate to Previous Month" @Model.statusPrevMonth>
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </button>
                        </span>
                        <input type="text" class="form-control" value="@Model.month @Model.year" readonly="readonly" style="min-width:100%; text-align:center; font-weight:bold; font-size:x-large; padding:0px">
                        <span class="input-group-btn">
                            <button id="btn-nextmonth" type="button" class="btn btn-primary" style="float:right; width:60px" onclick="location.href='@Model.urlNextMonth'" title="Navigate to Next Month" @Model.statusNextMonth>
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body" style="margin:2px; padding:5px">
            @if (Model.buildings.Count() == 0)
            {
                <br />
                <div class="row" style="color:red; font-size:large; border:4px double black; margin:5px 15px; padding:40px; background-color: lightgray; border-radius:8px">
                    <span style="font-weight:bold; ">THERE IS NO DATA AVAILABLE FOR THE SELECTED PERIOD</span>
                    <br /><span style="text-align:center">@Model.month @Model.year</span>
                    <br /><br />
                    <span style="color:gray; font-size:14px">< Use the 'Left' and 'Right' Arrows to Select a Different Month to View ></span>
                </div>
                <br />
            }
            else
            {
            <!-- Table -->
                <div class="panel panel-default scroll-Table hidden-xs">         <!-- INNER PANEL WITH METRIC BUILDING INFORMATION -->
                    <div class="panel-heading scroll-Head ">
                        <table style="margin:0; width:100%;">
                            <tr style="background-color: #f0eaea; border-bottom:1px solid lightgray">
                                <td>
                                    <table style="width:100%">
                                        <tr>
                                            <td @*class="col-sm-2 buildingCol headerCol"*@ style="vertical-align:middle; width:17%; ">
                                                <input class="sortOrder" type="hidden" id="bSortOrder" value="@ViewData["bOrder"]" />
                                                <span style="font-weight:bold"> @Model.month @Model.year</span>
                                                <button type="button" class="btn btn-sm sortButton" aria-label="Sort by" style="padding:0px 2px; float:right; margin-right:8px">
                                                    <span class="glyphicon @ViewData["bIcon"]" aria-hidden="true"></span>
                                                </button>
                                            </td>
                                            @foreach (var m in Model.allMetrics)
                                        {
                                            <td class="buildingCol" title="@m.metricDescription" style="vertical-align:middle; width: @strColWidth ">
                                                @*class="col-sm-1 buildingCol headerCol"*@
                                                <a href="@m.url">@m.metricName</a>
                                            </td>
                                        }
                                            <td class="buildingCol " style="vertical-align:middle; width:11%;">
                                                @*class="buildingCol headerCol scoreCol"*@
                                                <input class="sortOrder" type="hidden" id="sSortOrder" value="@ViewData["sOrder"]" />
                                                Building Score
                                                <button type="button" class="btn btn-sm sortButton" aria-label="Sort by" style="padding:0px 2px; float:right">
                                                    <span class="glyphicon @ViewData["sIcon"]" aria-hidden="true"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="scroll-Offset" ></td>
                            </tr><!-- ****** END OF HEADER TITLES ROW ********** -->
                            <tr class="" style="border-bottom: 1px solid black; background-color: #bbedff">
                                <td>
                                    <table style="width:100%">
                                        <tr>
                                            <td @*class="col-sm-2 buildingCol headerCol"*@ style="vertical-align:middle; width:17%; ">
                                                <span style="font-weight:bold"> @Model.goalsRow.BuildingName</span>
                                            </td>
                                            @foreach (REDZONE.Models.MeasuredCellEntity bldngMV in Model.goalsRow.entityMetrics)
                                            {
                                        <td class="buildingCol" style="color:blue; font-weight:bold; vertical-align:middle; width: @strColWidth ">
                                            @*class="col-sm-1 buildingCol headerCol"*@
                                            @bldngMV.metricValue
                                        </td>
                                            }
                                            <td class="buildingCol " style="vertical-align:middle; width:11%;">
                                                @*class="buildingCol scoreCol"*@
                                                <br />
                                            </td>
                                        </tr><!-- ************ TITLES ROW ************* -->
                                    </table>
                                </td>
                                <td class="scroll-Offset" ></td>
                            </tr><!-- *************** METRIC GOALS ROW END *************** -->
                        </table>
                    </div>
                    <div class="panel-body scroll-Body">   <!--  ******** START OF BUILDING DETAIL SECTION ************-->
                        <div class="row " style="margin:0">
                            <table style="width:100%">
                                @foreach (REDZONE.Models.BuildingMetricEntity dscBldng in Model.buildings)
                                {
                                    <tr class="rHover" style="border-bottom: 1px solid #c6c4c4;">
                                        <td @*class="col-sm-2 buildingCol headerCol"*@ style="vertical-align:middle; width:17%; ">
                                            @*class="col-sm-2 buildingCol"*@
                                            <a href="@dscBldng.url">@dscBldng.BuildingName</a>
                                        </td>
                                        @foreach (REDZONE.Models.MeasuredCellEntity bldngMV in dscBldng.entityMetrics)
                                        {
                                            <td class="buildingCol @bldngMV.displayClass" style="vertical-align:middle; width: @strColWidth ">
                                                @if (String.IsNullOrEmpty(@bldngMV.metricValue))
                                                { <br /> }
                                                else
                                                { @bldngMV.metricValue }
                                            </td>
                                        }
                                        <td class="buildingCol scoreCol  @dscBldng.scoreDisplayClass" style=" vertical-align:middle; width:11%;">
                                            @dscBldng.rowScore
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>  <!-- *********** END OF BUILDING ROW ************** -->
                    </div>
                    <div class="panel-footer" style="padding:0; background-color: #fbfbfb">
                        <table style="margin:0; width:100%;">
                            <tr>
                                <td>
                                    <table style="width:100%">
                                        <tr class="totalsRow">
                                            <td @*class="col-sm-2 buildingCol headerCol"*@ style="vertical-align:middle; width:17%; ">
                                                <span>@Model.goalsMissedRow.BuildingName</span>
                                            </td>
                                            @foreach (REDZONE.Models.MeasuredCellEntity metricTotalCell in Model.goalsMissedRow.entityMetrics)
                                            {
                                                <td class="buildingCol" style="vertical-align:middle; width: @strColWidth ">
                                                    @*class="col-sm-1 buildingCol headerCol"*@
                                                    @metricTotalCell.score.ToString("0")
                                                </td>
                                            }
                                            <td class="buildingCol @Model.goalsMissedRow.scoreDisplayClass" style="vertical-align:middle; width:11%;">
                                                @Model.total
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="scroll-Offset"></td>
                            </tr> <!-- ****************** METRIC GOALS NOT MET TOTAL ROW END ************* -->
                        </table>
                    </div>  <!-- *********** END OF FOOTER ROW (ROW TOTALS) ************  -->
                </div> <!-- ********** END of Metric Data Table *********** -->
                
                
                @*<div class="row hidden-xs" style=" border-radius: 5px; margin: 0; padding:0; ">
                        <!-- ROWS -->
                        <div class="row">
                            <!-- COLUMNS -->
                            <div class="col-sm-2 buildingCol headerCol">
                                <span style="font-weight:bold"> @Model.month @Model.year</span>
                            </div>
                            @foreach (var m in Model.allMetrics)
                            {
                                <div class="col-sm-1 buildingCol headerCol" title="@m.metricDescription">
                                    <a href="@m.url">@m.metricName</a>
                                </div>
                            }
                            @{
                            int colsLeft = 10 - Model.allMetrics.Count;
                            string colClass = "col-sm-1";
                            if (colsLeft > 0) { colClass = "col-sm-" + colsLeft.ToString(); }
                            }
                            <div class="@colClass buildingCol headerCol scoreCol">
                                Building Score
                            </div>
                        </div><!-- ---------------- TITLES ROW -----------------------    -->
                        <div class="row buildingRowX" style="background-color: #bbedff">
                            <div class="col-sm-2 buildingCol" style="font-weight:bold ">
                                @Model.goalsRow.BuildingName
                            </div>
                            @foreach (REDZONE.Models.MeasuredCellEntity bldngMV in Model.goalsRow.entityMetrics)
                            {
                                <div class="col-sm-1 buildingCol" style="color:blue; font-weight:bold;">
                                    @bldngMV.metricValue
                                </div>
                            }
                            <div class="@colClass buildingCol scoreCol" style="">
                                <br />
                            </div>
                        </div><!-- ------------------- GOAL ROWS END ----------------- -->


                        @foreach (REDZONE.Models.BuildingMetricEntity dscBldng in Model.buildings)
                        {
                            <div class="row buildingRowX rHover">
                                <div class="col-sm-2 buildingCol" style="text-align:center">
                                    <a href="@dscBldng.url">@dscBldng.BuildingName</a>
                                </div>
                                @foreach (REDZONE.Models.MeasuredCellEntity bldngMV in dscBldng.entityMetrics)
                                {
                                    <div class="col-sm-1 buildingCol @bldngMV.displayClass" style="">
                                        @if (String.IsNullOrEmpty(@bldngMV.metricValue))
                                        { <br /> }
                                        else
                                        { @bldngMV.metricValue }
                                    </div>
                                }
                                <div class="@colClass buildingCol scoreCol @dscBldng.scoreDisplayClass" style="">
                                    @dscBldng.rowScore
                                </div>
                            </div><!-- --------------- building ROWS ----------- -->
                        }

                        <div class="row buildingRowX totalsRow rHover">
                            <div class="col-sm-2 buildingCol" style="font-weight:bold">
                                <span>@Model.goalsMissedRow.BuildingName</span>
                            </div>
                            @foreach (REDZONE.Models.MeasuredCellEntity metricTotalCell in Model.goalsMissedRow.entityMetrics)
                            {
                                <div class="col-sm-1 buildingCol" style="">
                                    @metricTotalCell.score.ToString("0")
                                </div>
                            }
                            <div class="@colClass buildingCol @Model.goalsMissedRow.scoreDisplayClass" style="">
                                @Model.total
                            </div>
                        </div><!-- Goals Not Met Totals -->
                    </div> <!-- End of DIV Table Table -->*@
        <!-- **************************** EXTRA SMALL DISPLAY ********************************** -->
                foreach (REDZONE.Models.BuildingMetricEntity dscBldng in Model.buildings)
                {
                    <div class="panel panel-default visible-xs" style="margin-right:12px; width:100%">
                        <div class="panel-heading" style="padding:3px; background-color:black; font-weight:bold">
                            <a href="@dscBldng.url" style="color:white">@dscBldng.BuildingName</a>
                        </div>
                        <div class="panel-body" style="padding:3px;">
                            @{int indexCounter = 0;}
                            @foreach (REDZONE.Models.MeasuredCellEntity metricCell in dscBldng.entityMetrics)
                            {
                                <div class="row " style="margin:0; padding:0; border-bottom:1px solid lightgray">
                                    <div class="col-xs-4 " style="text-align:left;">
                                        <a href="@Model.allMetrics[indexCounter].url">@Model.allMetrics[indexCounter].metricName</a>
                                    </div>
                                    <div class="col-xs-3 @metricCell.displayClass">
                                        @if (String.IsNullOrEmpty(@metricCell.metricValue))
                                        { <br /> }
                                        else
                                        { @metricCell.metricValue }
                                    </div>
                                    <div class="col-xs-2 " style="text-align:right; font-weight:bold; background-color: #bbedff">Goal:</div>
                                    <div class="col-xs-3" style="background-color: #bbedff;">@Model.goalsRow.entityMetrics[indexCounter].metricValue</div>
                                </div>
                                indexCounter++;
                            }
                            <div class="" style="">
                                <div class="col-xs-4 @dscBldng.scoreDisplayClass" style="text-align:right;">
                                    <span style="font-weight:bold">Building Score:</span>
                                </div>
                                <div class="col-xs-3 @dscBldng.scoreDisplayClass" style="height:100%; font-weight:bold; ">
                                    @dscBldng.rowScore
                                </div>
                                <div class="col-xs-2 @dscBldng.scoreDisplayClass" style="text-align:right; font-weight:bold;"><br /></div>
                                <div class="col-xs-3 @dscBldng.scoreDisplayClass" style=""><br /></div>
                            </div>


                        </div>
                    </div>
                }
        <!-- ********************** END OF EXTRA SMALL DISPLAY VIEW **************************** -->
            }
        </div>
    </div>
</div>
<br /><br />

<script>
    $(document).ready(function () {
        $(".menuItem").removeClass("menuSelected");
        $("#mDashboard").addClass("menuSelected");

        if ((navigator.userAgent.indexOf("MSIE") != -1) || (!!document.documentMode == true)) {
            $(".scroll-Offset").addClass('IEScroll');
        }
        else {
            $(".scroll-Offset").addClass('notIEScroll');
        }

        $(".sortButton").click(function () {
            var sort_param = $(this).parent().find(".sortOrder").first().val();
            //var current_params = window.location.search;
            var current_year = getURLParameter("year");
            var current_month = getURLParameter("month");
            var url_parameters = "";
            //alert("Sort parameter is: " + sort_param);

            if (current_year != "") {
                url_parameters = "?month=" + current_month + "&year=" + current_year + "&";
            }
            else {
                url_parameters = "?"
            }

            var gotoURL = "/Home/Index/" + url_parameters + "sortOrder=" + sort_param;
            //alert(gotoURL);
            location.href = gotoURL;
        });

        function getURLParameter(name) {
            var parameterValue = decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
            if (parameterValue == null) { parameterValue = "" };
            return parameterValue;
        }

    });
</script>