@model REDZONE.Models.ExecutiveSummaryViewModel

@{
    ViewBag.Title = "Executive Monthly Summary";
}
<link href="~/Content/RedZoneApp.css" rel="stylesheet" />

<div class="row" style="font-family:Arial; margin-top: 5px; width:100%">
  <div class="col-md-10 " style="margin-left:20px; padding:0;">
     <div class="panel panel-default" style="margin-bottom:0px; ">
        <div class="panel-heading" style="text-align:center; padding: 0px 15px; ">
            <div class="row">
               <div class="row ">
                  <span style="font-size:x-large; font-weight:bold; color:darkblue">Executive Monthly Summary</span>
               </div>
               <div class="row" style="margin-bottom:10px">
                  <div class="input-group col-sm-10 col-sm-offset-1" style="padding:0px; ">
                      <span class="input-group-btn">
                          <button id="btn-lastmonth" type="button" class="btn btn-primary" style="float:right; width:60px" onclick="location.href='@Model.urlPrevMonth'" title="Navigate to Previous Month" @Model.statusPrevMonth>
                              <span class="glyphicon glyphicon-chevron-left"></span>
                          </button>
                      </span>
                      <input type="text" class="form-control" value="@Model.month @Model.year" readonly="readonly" style="min-width:100%; text-align:center; font-weight:bold; font-size:x-large; padding:0px">
                      <span class="input-group-btn">
                          <button id="btn-nextmonth" type="button" class="btn btn-primary" style="float:right; width:60px" onclick="location.href='@Model.urlNextMonth'" title="Navigate to Next Month" @Model.statusNextMonth>
                              <span class="glyphicon glyphicon-chevron-right"></span>
                          </button>
                      </span>
                  </div>
               </div>
            </div>
        </div>
        <div class="panel-body" style="margin:2px; padding:5px">
         @if (Model.buildings.Count() == 0)
         {
            <br />
            <div class="row" style="color:red; font-size:large; border:4px double black; margin:5px 15px; padding:40px; background-color: lightgray; border-radius:8px">
                <span style="font-weight:bold; ">THERE IS NO DATA AVAILABLE FOR THE SELECTED PERIOD</span>
                <br /><span style="text-align:center">@Model.month @Model.year</span>
            </div>
            <br />
         }
         else
         {
            <!-- Table -->
            <div class="row" style="border:1px solid lightgray; border-radius: 5px; margin: 0; padding:0; ">
               <!-- ROWS -->
               <div class="row headerRow row-eq-height">
                   <!-- COLUMNS -->
                   <div class="col-sm-2 buildingCol headerCol">
                      <span style="font-weight:bold"> @Model.month @Model.year</span>
                   </div>
                @foreach (var m in Model.allMetrics)
                {
                   <div class="col-sm-1 buildingCol headerCol">
                       <a href="@m.url">@m.metricName</a>
                   </div>
                }
               @{
                   int colsLeft = 10 - Model.allMetrics.Count;
                   string colClass = "col-sm-1";
                   if (colsLeft > 0) { colClass = "col-sm-" + colsLeft.ToString(); }
               }
                   <div class="@colClass buildingCol headerCol scoreCol">
                                Score
                   </div>
               </div><!-- TITLES ROW -->

               <div class="row buildingRow" style="background-color: #bbedff">
                            <div class="col-sm-2 buildingCol" style="text-align:center; ">
                                @Model.goal.BuildingName
                            </div>
                            @foreach (REDZONE.Models.MeasuredCellEntity bldngMV in Model.goal.entityMetrics)
                            {
                                <div class="col-sm-1 buildingCol" style="background-color:@bldngMV.metricColor">
                                    @bldngMV.metricValue
                                </div>
                            }
                            <div class="@colClass buildingCol scoreCol" style="background-color:@Model.goal.scoreColor">
                                @if (String.IsNullOrEmpty(@Model.goal.score))
                                { <br /> }
                                else
                                { @Model.goal.score }
                            </div>
                        </div><!-- GOAL ROWS -->
             @foreach (REDZONE.Models.BuildingMetricEntity dscBldng in Model.buildings)
             {
               <div class="row buildingRow">
                    <div class="col-sm-2 buildingCol" style="text-align:center">
                        <a href="@dscBldng.url">@dscBldng.BuildingName</a>
                    </div>
                  @foreach (REDZONE.Models.MeasuredCellEntity bldngMV in dscBldng.entityMetrics)
                  {
                    <div class="col-sm-1 buildingCol" style="background-color:@bldngMV.metricColor">
                                        @if (String.IsNullOrEmpty(@bldngMV.metricValue))
                                        { <br /> }
                                        else
                                        { @bldngMV.metricValue }
                                    </div>
                  }
                    <div class="@colClass buildingCol scoreCol" style="background-color:@dscBldng.scoreColor">
                        @if (String.IsNullOrEmpty(@dscBldng.score))
                        { <br /> }
                        else
                        { @dscBldng.score }
                    </div>
               </div><!-- building ROWS -->
              }
               <div class="row buildingRow">
                   <div class="col-sm-2 buildingCol" style="text-align:center">
                       <span>@Model.goalsMissedRow.BuildingName</span>
                   </div>
                   @foreach (REDZONE.Models.MeasuredCellEntity metricTotalCell in Model.goalsMissedRow.entityMetrics)
                   {
                       <div class="col-sm-1 buildingCol" style="background-color:@metricTotalCell.metricColor">
                           @if (String.IsNullOrEmpty(@metricTotalCell.metricValue))
                           { <br /> }
                           else
                           { @metricTotalCell.metricValue }
                       </div>
                   }
                   <div class="@colClass buildingCol scoreCol" style="background-color:@Model.goalsMissedRow.scoreColor">
                       @if (String.IsNullOrEmpty(@Model.goalsMissedRow.score))
                       { <br /> }
                       else
                       { @Model.goalsMissedRow.score }
                   </div>
               </div><!-- Goals Not Met Totals -->
            </div> <!-- End of DIV Table Table -->
         }
        </div>
     </div>
  </div>
</div>

<script>
    $(document).ready(function () {
        $(".menuItem").removeClass("menuSelected");
        //$(".menuItem").addClass("menuUnselected");
        $("#mDashboard").addClass("menuSelected");
    });
</script>