@model REDZONE.Models.MetricSummaryViewModel

@{
    ViewBag.Title = "Building Summary";
}
<link href="~/Content/RedZoneApp.css" rel="stylesheet" />

<div class="row" style="font-family:Arial; margin-top: 5px">
    <div class="col-md-10 " style="margin-left:15px; padding:0;">
        <div class="panel panel-default" style="margin-bottom:0px; ">
            <div class="panel-heading" style="text-align:center; padding: 0px 15px; ">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row ">
                            <span style="font-size:x-large; font-weight:bold; color:darkblue">Metric Summary</span>
                        </div>
                        <div class="row" style="margin-bottom:10px">
                            <div class="input-group col-sm-10 col-sm-offset-1" style="padding:0px; ">
                                <span class="input-group-btn">
                                    <button id="btn-lastmonth" type="button" class="btn btn-primary" style="float:right; width:60px" onclick="location.href=''" title="Navigate to Previous Building">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </button>
                                </span>
                                <input type="text" class="form-control" value="@Model.metricName" readonly="readonly" style="min-width:100%; text-align:center; font-weight:bold; font-size:x-large; padding:0px">
                                <span class="input-group-btn">
                                    <button id="btn-nextmonth" type="button" class="btn btn-primary" style="float:right; width:60px" onclick="location.href=''" title="Navigate to Next Building">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body" style="margin:2px; padding:5px">
                <div class="row" style="border:1px solid lightgray; border-radius: 5px; margin: 0; padding:0; ">
                    <!-- Table -->
                    <!-- ROWS -->
                    <div class="row headerRow row-eq-height">
                        <div class="col-sm-2 buildingCol headerCol">
                            <span style="font-weight:bold"> @Model.rowHeadings.rowName</span>
                        </div>  <!-- Metric Name Column -->                        
                        <div class="col-sm-9">
                            <div class="row">
                                @foreach (REDZONE.Models.MeasuredCellEntity dscBldngHdr in @Model.rowHeadings.entityMetricCells)
                                {
                                    <div class="col-sm-1 buildingCol headerCol">
                                        <a href="#">@dscBldngHdr.metricName</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div><!-- TITLES ROW -->
                    @*Begin Displaying All Rows for Metric*@
                    @foreach (var buildingRow in Model.metricRows)
                    {
                        <div class="row buildingRow ">
                            <div class="col-sm-2 buildingCol">
                                <a href="@buildingRow.rowURL">@buildingRow.rowName</a>
                            </div>  <!-- Metric Name Column -->

                            <div class="col-sm-1 buildingCol">
                                @buildingRow.scoreGoal
                            </div>  <!-- Goal Column -->
                            <div class="col-sm-9">
                                <div class="row ">
                                    @foreach (REDZONE.Models.MeasuredCellEntity buildingCell in buildingRow.entityMetricCells)
                                    {
                                        <div class="col-sm-1 buildingCol" style="background-color:@buildingCell.metricColor">
                                            @if (String.IsNullOrEmpty(@buildingCell.metricValue))
                                            { <br /> }
                                            else
                                            { @buildingCell.metricValue }
                                        </div>
                                    }
                                </div>
                            </div>  <!-- End of block with 12 Month Value Columns -->
                        </div>
                    }
                </div> <!-- End of DIV Table Table -->
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".menuItem").removeClass("menuSelected");
        //$(".menuItem").addClass("menuUnselected");
        $("#mDashboard").addClass("menuSelected");
    });
</script>
