@{
    // +++++++++++++++ THIS IS A DEVELOPMENT BRANCH to implement New Feaures for Reason ans reason assigment Management ++++++++++++++++++
    
    // If this is the first time that this page is displayed (After Login)
    // Save all the User Profile Info to Local Storage
    
    string pageFirstLoad = (Session["firstLoad"] == null) ? "" : Session["firstLoad"].ToString();  //This ensure we have a value and avoid page errors even is Session Variable is lost 
    string userFName = "";
    string userLName = "";
    string userFullName = "";
    string userEmail = "";
    string userRole = "";
    try
    {
        userFName = Session["first_name"].ToString();
        userLName = Session["last_name"].ToString();
        userFullName = Session["username"].ToString();
        userEmail = Session["email"].ToString();
        userRole = Session["userRole"].ToString();
    }
    catch
    {
        //Response.Redirect("~/Account/Login?returnUrl=\\Home\\Index");
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DSC RED-ZONE</title>
    @* ---------------------- Load CSS Styles -----------------------*@
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        #foot {
            position: fixed !important;
            width: 100%;
            bottom: 0;
            text-align: center;
            padding: 5px 0;
            background: #f0f0f0;
            border-top: 1px solid #666;
        }

        .container-fluid {
            max-width: 90%;
            padding: 10px; /*Whitespace or outside gutter*/
            margin-top: 12px;
            margin-left: 10%;
            text-align: center;
        }

        .nopadding {
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    @* ------- Load Jquery Libraries (Must be Before Bootstraps is Loaded) and other scripts ----------------*@
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/RedzoneGlobal.js"></script>
    <script>
        //If this is the first page display after Login, set the localStorage variables accordingly
        function setServerPostback() {
            resetUserInfo("", "", "", "", true);
        }

        function resetUserInfo(pFName, pLName, pLoginName, pEmail, pRole, pTurnOff) {
            $.ajax({
                @*url: '@Url.Action("getNewCAMid", "cognosUtils")',*@
                url: '/Account/resetUserInfo',
                method: "POST",
                cache: false,
                dataType: "text",
                data: { uFName: pFName, uLName: pLName, uLoginName: pLoginName, email: pEmail, uRole: pRole, turnOff: pTurnOff },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Ajax Failed: " + errorThrown);
                    localStorage.clear();
                }
            }).done(function (d) {
                //DO Something (Nothing for now)
            });

            //return localStorage.getItem("CAMid");
        }

        try {
            if ("@pageFirstLoad" == "True") {
                localStorage.setItem("first_name", "@userFName");
                localStorage.setItem("last_name", "@userLName");
                localStorage.setItem("username", "@userFullName");
                localStorage.setItem("email", "@userEmail");
                localStorage.setItem("firstLoad", "False");
                localStorage.setItem("userRole", "@userRole");
                resetUserInfo("", "", "", "", "", true);
                //setServerPostback();
                //alert("This is a first Page load");
            }
            else {
                if ("@pageFirstLoad" == "") {
                    //Somehow the Session Variables were lost. reset Them!
                    //alert("Session Variables were somehow lost. Resetting...");
                    resetUserInfo(localStorage.getItem("first_name"), localStorage.getItem("last_name"), localStorage.getItem("username"), localStorage.getItem("email"), localStorage.getItem("userRole"), false);
                    $("#userAvatar").html(localStorage.getItem("first_name") + " " + localStorage.getItem("last_name"));
                }
                //alert("This is not the fist application page load.");
            }
        }
        catch(err) {
            alert("An unhandled error exist: \n" + err);
        }

        $(document).ready(function () {
            var userRole = localStorage.getItem("userRole");
            $("#liUserRole").html("@userRole");
            //$("#liUserRole").click(function () {
            //    alert("Your Role is '" + $(this).html() + "'");
            //    alert("Your Role is '" + localStorage.getItem("userRole") + "'");
            //});
        });
    </script>    
</head>

<body>
    @*if (String.IsNullOrEmpty(sessionActive)) { Html.Action("LogOff", "Account"); }*@
    @if (!Request.IsAuthenticated )
    {
        @RenderBody()
        Html.Action("LogOff", "Account");
    }
    else
    {

        @*/---------------------------------- TO DO -----------------------------------------\
            ||      Validate Login Token, if token does not exist or if it's Expired            ||
            ||                 Kick User back to the Login Page                                 ||
            \\----------------------------------------------------------------------------------//*@


        @* ------- Render the partial View that contains the Navigation Bar (MENU) ---------- *@
        <div style="text-align:center">
            @Html.Partial("_NavMenu")
        </div>
        @*-----------------------------------------------------------------------------------*@


        @* ------- Render the partial View that contains the Application BODY  ------------- *@        

            <div class="container body-content text-center" style="width:100%; max-width:1500px; margin-top:22px" >
            @*<div class="container-fluid body-content text-center" style="border:1px solid blue;" >*@
                @RenderBody()
            </div>

        @*-----------------------------------------------------------------------------------*@


        @* ---------------- Render the Application STATUS FOOTER BAR ----------------------- *@
        <div id="foot" style="z-index: 999">
            <table style="width:100%;">
                <tr>
                    <td style="text-align:center"></td>
                    <td style="text-align:center">
                        Questions? &nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:dsclogistics@service-now.com">dsclogistics@service-now.com</a>
                    </td>
                    <td style="text-align:right">
                        <b style="margin-right:55px">v.Beta 8.23</b>
                    </td>
                </tr>
            </table>
        </div>

        <div style="color:red; text-align:center">
        @{
        if (Session["globalAppError"] != null)
        {
            string erroMessage = Session["globalAppError"].ToString();
            if (!String.IsNullOrEmpty(erroMessage))
            {
                <text>@Session["globalAppError"]</text>
                <br />
                <span>Please try again later or contact the Service Desk if problem Persist</span>
            }
        }
        }
        </div>
        
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryUI")
        @RenderSection("scripts", required: false)
        Session["globalAppError"] = "";
    }

</body>
</html>

