@{
    bool sessionEnded = false;
    if (Request.IsAuthenticated)
    {
        string tempName = Request.LogonUserIdentity.Name;
        tempName = tempName.Substring(tempName.IndexOf("\\") + 1);
        string userName = tempName.Substring(0, tempName.IndexOf("_"));
        Session["last_name"] = userName;
        userName = tempName.Substring(tempName.IndexOf("_") + 1);
        Session["first_name"] = userName;
    }
    else {
        sessionEnded = true; 
        @Html.Action("Login", "Account", new { returnUrl = "\\Home\\Index"})
    }    
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DSC RED-ZONE</title>
    @* ---------------------- Load CSS Styles -----------------------*@
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @* ---------------------- Load Jquery Libraries (Must be Before Bootstraps is Loaded) -----------------*@
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/RedzoneGlobal.js"></script>
    <style>
        #foot {
            position: fixed !important;
            width: 100%;
            bottom: 0;
            text-align: center;
            padding: 5px 0;
            background: #f0f0f0;
            border-top: 1px solid #666;
        }
        .container-fluid {
            max-width: 1500px;
            padding: 25px; /*Whitespace or outside gutter*/
        }
        .nopadding {
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
</head>

<body>
    @*if (String.IsNullOrEmpty(sessionActive)) { Html.Action("LogOff", "Account"); }*@
    @if (!Request.IsAuthenticated || sessionEnded)
    {
        @RenderBody()
        Html.Action("LogOff", "Account");
    }
    else
    {

        @*/---------------------------------- TO DO -----------------------------------------\
            ||      Validate Login Token, if token does not exist or if it's Expired            ||
            ||                 Kick User back to the Login Page                                 ||
            \\----------------------------------------------------------------------------------//*@


        @* ------- Render the partial View that contains the Navigation Bar (MENU) ---------- *@
        <div style="text-align:center">
            @Html.Partial("_NavMenu")
        </div>
        @*-----------------------------------------------------------------------------------*@


        @* ------- Render the partial View that contains the Application BODY  ------------- *@
        <div class="container-fluid body-content">
            @RenderBody()
        </div>
        @*-----------------------------------------------------------------------------------*@


        @* ---------------- Render the Application STATUS FOOTER BAR ----------------------- *@
        <div id="foot" style="z-index: 999">
            <table style="width:100%;">
                <tr>
                    <td style="text-align:center"></td>
                    <td style="text-align:center">
                        Questions? &nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:dsclogistics@service-now.com">dsclogistics@service-now.com</a>
                    </td>
                    <td style="text-align:right">
                        <b>v.Beta 0.1 &nbsp;&nbsp;&nbsp;&nbsp;</b>
                    </td>
                </tr>
            </table>
        </div>

        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryUI")
        @RenderSection("scripts", required: false)
    }

</body>
</html>
