
<style>
    .menuSelected {
        border-radius: 5px;
        background-color: #19305e;
    }
    /*li {
       font-size:small;
    }*/
</style>

<nav class="navbar navbar-inverse navbar-fixed-top" style="font-family:Arial">
    @*<a class="hidden-sm" style="position:fixed; top:0; left:0" href="/home">
            <img class="img-responsive" src="~/Images/DSCHOME_Logo.png" />
        </a>*@
    <a class="hidden-sm" style="position:fixed; top:0; left:0" href="/home">
        @*<img class="img-responsive" src="~/Images/DSCHOME_Logo.png" />*@
        <img class="img-responsive" src="~/Images/RedZoneLogo.png" />
    </a>
    <div class="navbar-header" >
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" style="font-size:small; ">
        <div class="col-md-7 col-md-offset-2" style="text-align:left; margin-left:160px">

            @* ****** RENDER THE "My Team's Activities" OR the 'TASK' MENU OPTION ONLY IF THE USER ROLE REQUIRES IT ******* *@
            @if (User.IsInRole("RZ_BLDG_USER"))
            { 
                @Html.Action("_RZ_MyTeamACT_MenuItems", "MenuBar")
            }
            else if (User.IsInRole("RZ_AP_REVIEWER") || User.IsInRole("RZ_AP_SUBMITTER") || User.IsInRole("MTRC_COLLECTOR"))
            {
                @Html.Action("_RZ_MyTask_MenuItems", "MenuBar")
            }
            
            <ul class="nav navbar-nav menuItem" id="mDashboard">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        DASHBOARDS
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/Home/Index">Monthly Executive Summary</a></li>
                        <li><a href="/Home/BuildingSummary">Monthly Building Summary</a></li>
                        <li><a href="/Home/MetricSummary">Monthly Metric Summary</a></li>
                    </ul>
                </li>
            </ul>

            @Html.Action("_RZDM_MenuItems", "MenuBar")

            <ul class="nav navbar-nav menuItem" id="mReason" style="display:none">
                <li><a href="#">REASON MANAGEMENT</a></li>
            </ul>
            <ul class="nav navbar-nav menuItem" id="mActionPlan" style="display:none">
                <li><a href="#">ACTION PLAN</a></li>
            </ul>

            @*<ul class="nav navbar-nav menuItem" id="mActionPlans">
                <li class="dropdown ">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        ACTION PLANS
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="disabled"><a href="#">Coming Q1 2017</a></li>
                    </ul>
                </li>
            </ul>*@

            @*@if (REDZONE.AppCode.Util.getUserRoles(User.Identity.Name).Contains("RZ_ADMIN"))*@
            @if(User.IsInRole("RZ_ADMIN"))
            {
                <ul class="nav navbar-nav menuItem" id="mAdmin">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            ADMIN
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/ReasonMgmt">Reason Management</a></li>
                            @*<li><a href="/DSC_LC">LCs</a></li>
                            <li><a href="/DSC_MTRC_LC_BLDG">Buildings</a></li>
                            <li><a href="/MTRC_PRODUCT">Metric Products</a></li>
                            <li><a href="/MTRC_METRIC">Metric Cathegories</a></li>*@
                        </ul>
                    </li>
                </ul>
            }

        </div>
        <div class="col-md-3 " id="divLoginInfo" style="margin:0; padding:0; float:right">
            @* ****** RENDER THE 'TASK' FLAG ICON ONLY IF THE USER ROLE REQUIRES IT ******* *@
            @if (User.IsInRole("RZ_BLDG_USER"))
            {
                @Html.Action("_RZ_TasksFlag", "MenuBar")
            }
            else if (User.IsInRole("RZ_AP_REVIEWER") || User.IsInRole("RZ_AP_SUBMITTER") || User.IsInRole("MTRC_COLLECTOR"))
            {
                @Html.Action("_RZ_TasksFlag", "MenuBar")
            }

            @Html.Partial("_LoginPartial");
            @*<div class="col-xs-2 bordered-g" style="margin:0; padding:0; text-align:right">
                @Html.Action("_RZTask_MenuItems", "MenuBar")
            </div>
            <div class="col-xs-9 bordered-r" style="margin:0; padding:0;">
                @Html.Partial("_LoginPartial");
            </div>
            <div class="col-xs-1 bordered-r" style="margin:0; padding:0;">

            </div>*@
        </div>
    </div>
    <br />
</nav>
