@model REDZONE.Models.DSC_LC_BLDG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DSC_LC_BLDG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dsc_mtrc_lc_bldg_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dsc_mtrc_lc_bldg_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dsc_mtrc_lc_bldg_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dsc_mtrc_lc_bldg_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dsc_mtrc_lc_bldg_eff_start_dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dsc_mtrc_lc_bldg_eff_start_dt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dsc_mtrc_lc_bldg_eff_end_dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dsc_mtrc_lc_bldg_eff_end_dt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DSC_LC.dsc_lc_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DSC_LC.dsc_lc_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.dsc_mtrc_lc_bldg_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
