@model REDZONE.Models.MTRC_BLDG_DATA_SRC

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MTRC_BLDG_DATA_SRC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DSC_MTRC_LC_BLDG.dsc_mtrc_lc_bldg_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DSC_MTRC_LC_BLDG.dsc_mtrc_lc_bldg_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MTRC_DATA_SRC.data_src_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MTRC_DATA_SRC.data_src_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MTRC_METRIC_PERIOD.mtrc_period_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MTRC_METRIC_PERIOD.mtrc_period_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.bldg_data_src_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
