@model REDZONE.Models.MTRC_METRIC

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MTRC_METRIC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mtrc_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mtrc_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mtrc_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mtrc_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mtrc_eff_start_dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mtrc_eff_start_dt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mtrc_eff_end_dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mtrc_eff_end_dt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mtrc_min_val)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mtrc_min_val)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mtrc_max_val)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mtrc_max_val)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mtrc_max_dec_places)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mtrc_max_dec_places)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mtrc_max_str_size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mtrc_max_str_size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mtrc_na_allow_yn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mtrc_na_allow_yn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MTRC_DATA_TYPE.data_type_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MTRC_DATA_TYPE.data_type_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.mtrc_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
