@model IEnumerable<REDZONE.Models.MTRC_METRIC>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mtrc_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mtrc_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mtrc_eff_start_dt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mtrc_eff_end_dt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mtrc_min_val)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mtrc_max_val)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mtrc_max_dec_places)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mtrc_max_str_size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mtrc_na_allow_yn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MTRC_DATA_TYPE.data_type_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mtrc_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mtrc_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mtrc_eff_start_dt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mtrc_eff_end_dt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mtrc_min_val)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mtrc_max_val)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mtrc_max_dec_places)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mtrc_max_str_size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mtrc_na_allow_yn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MTRC_DATA_TYPE.data_type_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.mtrc_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.mtrc_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.mtrc_id })
        </td>
    </tr>
}

</table>

<script>
    $(document).ready(function () {
        $(".menuItem").removeClass("menuSelected");
        $("#mTables").addClass("menuSelected");
    });
</script>