@model REDZONE.AppCode.ExcelMetric
<style>
    th {
        background-color: aliceblue;
    }

    td.center {
        text-align: center;
    }

    .alert-standard {
        background-color: #f1f0f0;
    }
    .valid {
        font-weight:bold;
    }
    .erroMsg {
        font-style: italic; 
    }
    .ErrorFormat {
        /*background-color: #f8fecd;
        color: #720303;*/
        font-weight:bold;
        font-size:x-large;
    }
</style>

<input type="hidden" id="isValidated" value="@Model.isValidated" />
<div class="row" style="font-family:Arial;">
    <div class="col-sm-1"></div>
    <div class="col-md-10 " style="margin-left:15px; padding:0">
        <div class="panel panel-default" style="margin-bottom:0px; ">
            <div class="panel-heading" style="text-align:center">
                <div class="row ">
                    <span style="font-size:x-large">Red Zone Metric Data Imported</span>                    
                </div>
                <div class="row @Model.MetricNameClass">
                    <div class="col-sm-2" style="background-color:lightgray; text-align:right">Metric Name</div>
                    <div class="col-sm-2" style="text-decoration:underline; font-weight:bold; text-align:left">@Model.MetricName</div>
                    <div class="col-sm-8 erroMsg">@Model.MetricNameErrorMsg</div>
                </div>
                <div class="row @Model.MetricYearClass">
                    <div class="col-sm-2" style="background-color:lightgray; text-align:right">Metric Year</div>
                    <div class="col-sm-3" style="text-decoration:underline; font-weight:bold; text-align:left">@Model.Year</div>
                    <div class="col-sm-6 erroMsg">@Model.MetricYearErrorMsg</div>
                </div>
                <div class="row @Model.MetricMonthClass">
                    <div class="col-sm-2" style="background-color:lightgray; text-align:right">Metric Month</div>
                    <div class="col-sm-3" style="text-decoration:underline; font-weight:bold; text-align:left">@Model.Month</div>
                    <div class="col-sm-6 erroMsg">@Model.MetricMonthErrorMsg</div>
                </div>
            </div>





            <div class="panel-body">
                @if (String.IsNullOrEmpty(@Model.MetricNameErrorMsg))
                {
                    <div class="row" @*style="text-align:center"*@ style="margin:0px 1px; padding:0; height:550px; overflow-y:auto">
                        <table class="table table-bordered table-condensed table-hover table-responsive ">
                            <tr>
                                <th>Building Name</th>
                                <th style="text-align:center">Value</th>
                                <th style="text-align:center">Validation Message</th>
                            </tr>
                            @foreach (REDZONE.Models.Building dscBldng in Model.buildingList)
                            {
                                <tr class="buildingRow">
                                    <td>@dscBldng.buildingName</td>
                                    <td class="center">
                                        @if (dscBldng.isEditable)
                                        {
                                            <input type="text" id="newMetricVal" class="updateField" value="@dscBldng.metricPeriodValue" style="text-align:center" />
                                        }
                                        else
                                        {
                                            <span>@dscBldng.metricPeriodValue</span>
                                        }
                                        <input type="hidden" id="wasEdited" value="N" />
                                        <input type="hidden" id="buildingName" value="@dscBldng.buildingName" />
                                        <input type="hidden" id="buildingId" value="@dscBldng.buildingCode" />
                                        <input type="hidden" id="isEditable" value="@dscBldng.isEditable" />
                                        <input type="hidden" id="isManual" value="@dscBldng.isManual" />
                                        <input type="hidden" id="periodValId" value="@dscBldng.metricPeriodValueID" />
                                    </td>
                                    @if (String.IsNullOrEmpty(@dscBldng.buildingErrorMsg + @dscBldng.valueErrorMsg))
                                    {<td><span class="glyphicon glyphicon-ok" ></span></td> }
                                    else
                                    {
                                        <td class="alert-danger">
                                            @if (!String.IsNullOrEmpty(dscBldng.buildingErrorMsg))
                                            {
                                                @dscBldng.buildingErrorMsg<br />
                                            }
                                            @dscBldng.valueErrorMsg
                                        </td>}
                                </tr>
                            }
                        </table>
                    </div>

                }
                else
                {
                    <br /><br />
                    <div class="row" style="margin:0px 1px; padding:0; text-align:center">
                        <div class="ErrorFormat alert-danger" >
                            Incorrect File was uploaded or the Data Format is incorrect<br />
                            Please correct File and try uploading it again<br /><br />
                            @Model.MetricNameErrorMsg
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>