@model REDZONE.Models.monthActionPlan

@*<div>
    <h4>monthActionPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.displayId)</dt>
        <dd>@Html.DisplayFor(model => model.displayId)        </dd>
        <dt>            @Html.DisplayNameFor(model => model.apBuilding)        </dt>
        <dd>            @Html.DisplayFor(model => model.apBuilding)        </dd>
        <dt>            @Html.DisplayNameFor(model => model.apMonth)        </dt>
        <dd>            @Html.DisplayFor(model => model.apMonth)        </dd>
    </dl>
</div>*@


<div class="row">
    <div class="btn-toolbar">
        <div class="bordered" style="display:table-cell; border-top-left-radius:4px; border-bottom-left-radius:4px; border-color:lightgray; border-right:transparent">
            <button type="button" class="btn btn-default btn-group btnVieAP" style="margin-left:0px; border-color:transparent; border-top-right-radius:0px; border-bottom-right-radius:0px" data-toggle="collapse" data-target="#@Model.displayId">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
        <div class="bordered" style="display:table-cell; width:100%; border-top-right-radius:4px; border-bottom-right-radius:4px; vertical-align:middle; border-color:lightgray;">
            <h4 class="btn-group" style="text-align:left; margin:auto; margin-left:5px ">@Model.apMonth Action Plan</h4>
        </div>
    </div>

    <div id="@Model.displayId" class="collapse" style="margin-left:40px">
        <table class="table table-condensed table-hover" style="width:95%; margin-left:30px; text-align:center">
            <thead>
                <tr>
                    <td style="width:30%">Metric</td>
                    <td style="width:25%">Status</td>
                    <td style="width:15%">Meeting Date</td>
                    <td style="width:15%">Meeting Owner</td>
                    <td style="width:15%">Last Update</td>
                </tr>
            </thead>
            <tbody>
                @foreach (REDZONE.Models.ActionPlan apMetric in Model.metricActPlans) { 
                    <tr>
                        <td style="width:30%">@apMetric.apMetric</td>
                        <td style="width:25%">@apMetric.apStatus</td>
                        <td style="width:15%">@apMetric.apMeetingDate</td>
                        <td style="width:15%">@apMetric.submittedBy</td>
                        <td style="width:15%">@apMetric.apLastUpdt</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

