@model IEnumerable<REDZONE.Models.DSC_CUST_ACCT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dsc_cust_acct1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dsc_cust_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dsc_cust_parent_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dsc_cust_eff_end_date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dsc_cust_acct1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dsc_cust_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dsc_cust_parent_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dsc_cust_eff_end_date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.dsc_cust_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.dsc_cust_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.dsc_cust_id })
        </td>
    </tr>
}

</table>
