@model IEnumerable<REDZONE.Models.DSC_LC>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dsc_lc_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dsc_lc_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dsc_lc_timezone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dsc_lc_eff_end_date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dsc_lc_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dsc_lc_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dsc_lc_timezone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dsc_lc_eff_end_date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.dsc_lc_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.dsc_lc_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.dsc_lc_id })
        </td>
    </tr>
}

</table>

<script>
    $(document).ready(function () {
        $(".menuItem").removeClass("menuSelected");
        $("#mTables").addClass("menuSelected");
    });
</script>